<div class="uds-image-text-block-container">
  <div class="uds-image-text-block-text-container">
    {{ content.field_formatted_text }}
  </div>
  <div class="uds-image-text-block-image-container">
    {{ content.field_media }}
  </div>
</div>


