{#
/**
 * @file
 * Default template for a field.
 */
#}
<div class="formatted-text">
  {% for item in items %}
    {% include '@renovation_tsmc/paragraphs/paragraphs.twig' with {
      body_copy: item.content,
    } %}
  {% endfor %}
</div>
