<div class="statistic-card d-flex align-items-stretch flex-column no-wrap"">
  <div class="statistic-card--statistic text-gold pb-4">
    {{ statistic }}
  </div>
  <div class="statistic-card--summary">
    {{ summary }}
  </div>
</div>
