{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

{% set hero_image     = view.field.field_hero_image.original_value %}
{% set video_loop     = view.field.field_video_loop.original_value %}
{% set video          = view.field.field_video.original_value %}
{% set preload_image  = view.field.field_video_preload_image.original_value %}
{% set caption        = view.field.field_article_image_caption.original_value %}

{% if video %}
<div class="video-wrapper video-wrapper_light">
  <video class="hero-video" preload="auto"  muted="" {% if video_loop == "Loop Video" %} autoplay="" loop="" {% else %} "" {% endif %} width="100%" height="100%">
    {{ preload_image }}
    <source src="{{ video }}" type="video/mp4">
  </video>
</div>
{% else %}
  {{ hero_image }}
  {{ caption }}
{% endif %}
