

<div class="timeline-item" id="item-{{ paragraph.uuid.value }}">
  <p class="timeline-item--date">{{ content.field_timeline_date }}</p>
  <p class="timeline-item--item">{{ content.field_timeline_item }}</p>
</div>


