{#
/**
 * @file
 * Template for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}

{% set classes = [
  'form',
  'uds-form',
  is_inline ? 'form-inline',
  'row',
  'g-3',
  'align-items-center',
]|merge(utility_classes ? utility_classes : []) %}

<style>
  .form-filter-wrapper .form-actions {
    padding: 16px 0;
  }

  .form-filter-wrapper button {
    box-shadow: none !important;
  }

  .form.uds-form input[type="submit"],
  .form.uds-form input[type="reset"] {
    padding: 0.5rem 1rem !important;
  }
</style>

<form{{ attributes.addClass(classes) }}>
  {{ children }}
</form>
