// @import '../../../../webspark/renovation/src/sass/renovation.style.scss';

.block-inline-blockasu-edu-sidebar-navigation {
  a {
    margin-left: 0;
    text-decoration: none;
  }

  @media screen and (max-width: $uds-grid-container-max-width-lg) {
    margin-bottom: $uds-size-spacing-4;
  }
}

nav.accordion {
  .card {
    margin-bottom: 0;
  }
}

.block-inline-blockmenu-sidebar {
  a {
    text-decoration: none;
  }
}

.block-inline-blockmenu-sidebar {
  @media screen and (max-width: $uds-grid-container-max-width-md) {
    margin-bottom: $uds-size-spacing-6;

    .sidebar-toggler, .sidebar {
      margin-left: $uds-size-spacing-4;
      margin-right: $uds-size-spacing-4;
    }

    .sidebar-toggler {
      &[aria-expanded=false] {
        svg {
          transform: none;
        }
      }

      &[aria-expanded=true] {
        svg {
          transform: rotate(-180deg);
        }
      }
    }

    h3 {
      margin-left: $uds-size-spacing-4;
    }
  }
}
