<div class="uds-content-align">
  <div>{{ heading|raw }}</div>
  <div class="row row-spaced pt-2 pb-2">
    {% for card in cards %}
      <div class="col col-12 col-lg-4">
        <div class="card">
          {% include "@renovation/icons/icon.twig" with {
            icon: 'fa-' ~ card.icon_name ~ ' fa-2x card-icon-top'
          } %}
          <div class="card-header pt-2">
            <h3>{{ card.heading }}</h3>
          </div>
          <div class="card-body">{{ card.body|raw }}</div>
          <div class="card-button">
            {% for cta in card.ctas %}
              {% include '@renovation/buttons/button-action.twig' with {
                url: cta.uri,
                title: cta.title,
                button_color: cta.options.attributes.class ~ 'btn-maroon',
                target: cta.options.attributes.target
              } %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
