{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'container'
  ]
%}

      		
			{% block paragraph %}
			  <div{{ attributes.addClass(classes) }}>
			    	{% block content %}
			    	
			    	<div class="row">
						<div class="col-12">
						
							<div class="uds-card-arrangement">
								
		      
				      			<div class="uds-card-arrangement-card-container auto-arrangement three-columns">
								  	{{ content }}
				      			</div>
		      			
		      			 	</div>
			  			</div>
			  		</div>
		      		
			  		{% endblock %}
				</div>
			{% endblock paragraph %}
	  
		 
