{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'container'
  ]
%}

      		
			{% block paragraph %}
			  <div{{ attributes.addClass(classes) }}>
			  	<div class="row">
			    	{% block content %}
			    	
			    	<div class="col-12">
		                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
		
		                    <div class="carousel-inner">
		                        
					          
									{{ content }}
					          
					        </div>
					        
					        <div class="col-6 text-right">
				                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
				                    <i class="fa fa-arrow-left"></i>
				                </a>
				                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
				                    <i class="fa fa-arrow-right"></i>
				                </a>
				            </div>        
				            
			    		</div>
			    	</div>
								
		      
				      			
		      			
		      			 	
		      		
			  		{% endblock %}
				  	</div>
				</div>
				
				
				


			{% endblock paragraph %}
	  
		 







