
/*------------------------------------------------------------------
 Mailchimp - Custom
--------------------------------------------------------------------*/

#mc-embedded-subscribe {
  margin: 0;
}

#mc_embed_signup {
  .mc-field-group {
    width: 100%;
  }
  input {
    border-radius: 0;
    &.subscribe {
      border: 1px solid transparent;
      border-radius: 400rem;
      font-size: 1rem;
    }
  }
  .mc-group-name {
    .mc-field-group {
      padding: 0 0 3% 0;
      width: 50%;
      &:first-child {
        padding-right: 1rem;
      }
      &:last-child {
        padding-left: 1rem;
      }
    }
  }
}