{#
/**
 * @file
 * Theme override for taxonomy term related_topics field in the "topic" vocabulary.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 */
#}
<div class="topic gray-2-bg pb-2 px-4">
  <div class="topic--details">

    <div class="topic--related">
      Category:
      {% for item in items %}
        <a href="/topics?topic_category={{ item.content['#entity'].tid.0.value }}">{{ item.content['#title'] }}</a>{{ loop.last ? '' : ', ' }}
      {% endfor %}
    </div>

  </div>
</div>

