{#
/**
 * @file
 * Template for an thumbnail image field.
 */
#}
<div class="float-start mx-3 p-1" style="background-color: #fff;">
{% include '@renovation/image/image-default.twig' with {
  responsive: true,
} %}
</div>
