/* Remove gutters from pocket Project Page card arrangement */
.uto-home-cards .uds-card-arrangement>.uds-card-arrangement-card-container.auto-arrangement {
  row-gap: 0;
}

.uto-home-cards .uds-card-arrangement>.uds-card-arrangement-card-container {
  -moz-column-gap: 0;
  column-gap: 0;
}

.uto-home-cards .card {
  border: 0;
}

.uto-home-cards .card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.uto-news-cards .card-img-top img {
  aspect-ratio: 2;
  min-width: 100%;
}

/* Legacy styles from D7 */
.btn-primary, .btn-primary:hover {
  color: #fff;
  background-color: #8c1d40;
  border-color: #8c1d40;
}

/* Leadership Cards */
.uto-leadership-cards .card-img-top {
  height: 23.875rem;
}

.card-story:not(.card.card-foldable)>div:first-of-type:not(.card-image-content, .card-image-top) {
  padding: 0;
}

.node.article.article--full .uds-story-hero .content h1.article {
  margin-top: 3rem;
}

.node-26 .block-inline-blockimage-and-text-block .uds-image-text-block-container {
  width: 80%!important;
  background: transparent!important;
  border: 0!important;
}
.node-26 .block-inline-blockimage-and-text-block .uds-image-text-block-image-container img {
  object-fit: contain!important;
  max-width: 90%!important;
  margin: 0 0 0 auto!important;
}
.node-26 .pb-5 {
  padding-bottom:0!important;
}
