<div class="container">
  <div class="row row-spaced pt-2 pb-2">
    <div class="col col-12 col-md-12 col-lg-4">

      {% include '@renovation/headings/card-heading.twig' with {
        html_tag : 'h2',
        heading: heading,
      } %}

      <div>{{ body|raw }}</div>

      <div>
        {% for cta in ctas %}
          {% include '@renovation/links/cta-link.twig' with {
            url: cta.uri,
            label: cta.title,
            size: loop.first ? '' : '-sm',
            options: cta.options,
            color: 'maroon',
          } %}
        {% endfor %}
      </div>

    </div>

    <div class="col col-12 col-md-12 col-lg-1"></div>

    <div class="col col-12 col-md-12 col-lg-7">

      {% for card in cards %}
      <div class="row row-spaced pb-2">
        <div class="card card-event card-horizontal">
          <img class="card-img-top" src="{{ card.media }}">

          <div class="card-content-wrapper">

            <div class="card-header">
              {% include '@renovation/headings/card-heading.twig' with {
                html_tag : 'h3',
                heading: card.heading,
              } %}
            </div>

            <div class="card-event-details">
              <div class="card-event-icons">
                <div>
                  {% include '@renovation/icons/icon.twig' with {
                    icon: 'far fa-calendar'
                  } %}
                </div>
                <div>{{ card.date }}</div>
              </div>
              <div class="card-event-icons">
                <div>
                  {% include '@renovation/icons/icon.twig' with {
                    icon: 'fa-map-marker-alt'
                  } %}
                </div>
                <div>{{ card.location }}</div>
              </div>
            </div>

            <div class="card-link">
              {% for link in card.links %}
                {% include '@renovation/links/link.twig' with {
                  uri: link.uri,
                  label: link.title,
                  options: link.options,
                } %}
              {% endfor %}
            </div>

          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
