{#
/**
 * @file
 * Template for field_tags.
 */
#}
<div class="field--name-field-tags">
  {% for item in items %}
    {% include '@renovation/buttons/button-tag.twig' with {
      url : item.content['#url'],
      title: item.content['#title'],
    } %}
  {% endfor %}
</div>