.history/
.cache
node_modules/.cache

node_modules/*
!node_modules/@asu-design-system
node_modules/@asu-design-system/*
!node_modules/@asu
node_modules/@asu/*

!node_modules/@asu/app-degree-pages
node_modules/@asu/app-degree-pages/*
!node_modules/@asu/app-degree-pages/dist
node_modules/@asu/app-degree-pages/dist/*
!node_modules/@asu/app-degree-pages/dist/degreePages.production.js
!node_modules/@asu/app-degree-pages/dist/vendor.production.js
!node_modules/@asu/app-degree-pages/dist/degreePages.umd.js
!node_modules/@asu/app-degree-pages/dist/assets
node_modules/@asu/app-degree-pages/dist/assets/*
!node_modules/@asu/app-degree-pages/dist/assets/img
node_modules/@asu/app-degree-pages/dist/assets/img/*
!node_modules/@asu/app-degree-pages/dist/assets/img/demo-phot-1.jpeg
!node_modules/@asu/app-degree-pages/dist/assets/img/demo-phot-2.jpeg
!node_modules/@asu/app-degree-pages/dist/assets/img/demo-phot-3.jpeg
!node_modules/@asu/app-degree-pages/dist/assets/img/ds_header_undergrad.jpg
!node_modules/@asu/app-degree-pages/dist/assets/img/request-form-information.jpeg
!node_modules/@asu/app-degree-pages/dist/assets/img/detail-page
node_modules/@asu/app-degree-pages/dist/assets/img/detail-page/*
!node_modules/@asu/app-degree-pages/dist/assets/img/detail-page/attend-online.jpg
!node_modules/@asu/app-degree-pages/dist/assets/img/detail-page/career-outlook.jpg
!node_modules/@asu/app-degree-pages/dist/assets/img/detail-page/customize-faculty-600.jpg
!node_modules/@asu/app-degree-pages/dist/assets/img/detail-page/customize-honors-600.jpg
!node_modules/@asu/app-degree-pages/dist/assets/img/detail-page/customize-inclusion-600.jpg
!node_modules/@asu/app-degree-pages/dist/assets/img/detail-page/customize-mentor-600.jpg
!node_modules/@asu/app-degree-pages/dist/assets/img/detail-page/customize-programs-600.jpg
!node_modules/@asu/app-degree-pages/dist/assets/img/detail-page/customize-research-600.jpg
!node_modules/@asu/app-degree-pages/dist/assets/img/detail-page/global-opportunity.jpg
!node_modules/@asu/app-degree-pages/dist/assets/img/detail-page/hero.jpg
!node_modules/@asu/app-degree-pages/dist/assets/img/detail-page/intro.jpg
!node_modules/@asu/app-degree-pages/dist/assets/img/listing-page
node_modules/@asu/app-degree-pages/dist/assets/img/listing-page/*
!node_modules/@asu/app-degree-pages/dist/assets/img/listing-page/hero.jpg
!node_modules/@asu/app-degree-pages/dist/assets/video
node_modules/@asu/app-degree-pages/.npm/_logs/

!node_modules/@asu/app-rfi
node_modules/@asu/app-rfi/*
!node_modules/@asu/app-rfi/dist
node_modules/@asu/app-rfi/dist/*
!node_modules/@asu/app-rfi/dist/appRfi.min.js
!node_modules/@asu/app-rfi/dist/appRfi.umd.js
!node_modules/@asu/app-rfi/dist/assets
node_modules/@asu/app-rfi/dist/assets/*
!node_modules/@asu/app-rfi/dist/assets/img
!node_modules/@asu/app-rfi/dist/assets/img/WS2-DefaultImagev01-Final.png
node_modules/@asu/app-rfi/.npm/_logs/

/vendor/

.idea
