/*------------------------------------------------------------------
 UDS Text with Image 
--------------------------------------------------------------------*/

.uds-image-text-block-container {
  border: none;
}

/*------------------------------------------------------------------
 UDS Quote with Image Background
--------------------------------------------------------------------*/

.uds-quote-image-background {
  min-height: 672px;
  .uds-blockquote {
    &.uds-testimonial {
      align-items: start;
      blockquote {
        text-align: left;
      }
      cite {
        &.name {
          justify-content: flex-start;
        }
        &.description {
          justify-content: flex-start;
        } 
      }
      .citation {
        &:before {
          margin: 1rem 0;
        }
      }
    }
  }
}