<div
  class="uds-card-and-image asuhealth {{ class_position }}"
  style="background-image: url({{ image_background }});">
  <div class="uds-content-align card-and-image-align">
    <div class="uds-card-and-image-container">
      {{ card }}
    </div>
  </div>
</div>
