/*------------------------------------------------------------------
Impact Stories - Custom
--------------------------------------------------------------------*/
.impact-story--featured--image {
  padding: 0 7rem 0 0;
  margin-top: 65px;
}
.impact-story--featured--image:before {
  content: " ";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='169.923' height='227.616' viewBox='0 0 169.923 227.616'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_15261' data-name='Rectangle 15261' width='113.282' height='130.808' fill='none' stroke='%23e8e8e8' stroke-width='1'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-3'%3E%3Crect id='Rectangle_15261-3' data-name='Rectangle 15261' width='33.959' height='39.213' fill='%2300a3e0'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_11492' data-name='Group 11492' transform='translate(-273.359 -2056)'%3E%3Cg id='Group_11129' data-name='Group 11129' transform='translate(273.359 2056)'%3E%3Cg id='Group_11128' data-name='Group 11128' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_17317' data-name='Path 17317' d='M112.18,97.295V32.817L56.34.577.5,32.817V97.295l55.84,32.239Z' transform='translate(0.302 0.349)' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_11130' data-name='Group 11130' transform='translate(330 2152.809)'%3E%3Cg id='Group_11128-2' data-name='Group 11128' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_17317-2' data-name='Path 17317' d='M112.18,97.295V32.817L56.34.577.5,32.817V97.295l55.84,32.239Z' transform='translate(0.302 0.349)' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_11131' data-name='Group 11131' transform='translate(287.682 2182)'%3E%3Cg id='Group_11128-3' data-name='Group 11128' transform='translate(0 0)' clip-path='url(%23clip-path-3)'%3E%3Cpath id='Path_17317-3' data-name='Path 17317' d='M33.979,29.571V10.242L17.24.577.5,10.242V29.571L17.24,39.235Z' transform='translate(-0.26 -0.3)' fill='%2300a3e0'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
  display: none;
  position: absolute;
  left: -87px;
  top: -65px;
  width: 28.9%;
  height: 100%;
}
.impact-story--featured--image:after {
  content: " ";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='113.282' height='169.819' viewBox='0 0 113.282 169.819'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_15261' data-name='Rectangle 15261' width='113.282' height='130.808' fill='none' stroke='%23e8e8e8' stroke-width='1'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-2'%3E%3Crect id='Rectangle_15261-2' data-name='Rectangle 15261' width='33.959' height='39.213' fill='%2300a3e0'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_11493' data-name='Group 11493' transform='translate(-891.358 -2418.797)'%3E%3Cg id='Group_11132' data-name='Group 11132' transform='translate(891.358 2457.809)'%3E%3Cg id='Group_11128' data-name='Group 11128' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_17317' data-name='Path 17317' d='M112.18,97.295V32.817L56.34.577.5,32.817V97.295l55.84,32.239Z' transform='translate(0.302 0.349)' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_11133' data-name='Group 11133' transform='translate(960 2418.798)'%3E%3Cg id='Group_11128-2' data-name='Group 11128' transform='translate(0 0)' clip-path='url(%23clip-path-2)'%3E%3Cpath id='Path_17317-2' data-name='Path 17317' d='M33.979,29.571V10.242L17.24.577.5,10.242V29.571L17.24,39.235Z' transform='translate(-0.26 -0.3)' fill='%2300a3e0'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  display: none;
  position: absolute;
  right: -57px;
  bottom: -57px;
  width: 19.2%;
  height: 100%;
}
.impact-story--featured--body {
  padding-left: 9rem;
}
.impact-story--teaser {
  margin-bottom: 32px;
}
.impact-story--teaser--image {
  height: 248px;
}
.impact-story--teaser--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*------------------------------------------------------------------
Resources - Custom
--------------------------------------------------------------------*/
.design-resource {
  margin-bottom: 2rem;
}
.design-resource .card-wrapper {
  height: 100%;
}
.design-resource--featured--image img {
  width: 100%;
  max-height: 187px;
}
.design-resource--teaser--image img {
  width: 100%;
  max-height: 187px;
}

/*------------------------------------------------------------------
 Fixed Image Background with CTA - Custom
--------------------------------------------------------------------*/
.fixed-image-background-with-cta {
  background: #191919 url("images/udi-pattern-white.png");
  border-bottom: 1px solid #393939;
  border-top: 1px solid #393939;
}
.fixed-image-background-with-cta--container {
  width: 100%;
  padding: 0 6rem;
}
.fixed-image-background-with-cta--container .cta-headline {
  color: #fafafa;
  font: normal normal 700 2.5rem Arial;
  flex: 1;
  max-width: 784px;
}

/*------------------------------------------------------------------
 Image Background with Text - Custom
--------------------------------------------------------------------*/
.image-background-with-text {
  height: 580px;
  position: relative;
}
.image-background-with-text--container {
  color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 66%;
  max-width: 700px;
}

/*------------------------------------------------------------------
 Image Background with CTA Plus Sidebar - Custom
--------------------------------------------------------------------*/
.image-background-cta-sidebar {
  position: relative;
  overflow: hidden;
}
.image-background-cta-sidebar--block--container {
  width: 100%;
  max-width: 62.5%;
  margin: 0 auto;
}
.image-background-cta-sidebar--block--container .cta-primary-content .cta-headline {
  color: #fafafa;
  font: normal normal 700 2.5rem Arial;
  flex: 1;
  max-width: 784px;
}
.image-background-cta-sidebar--block--container .cta-primary-content .cta-body {
  margin: 2.5rem 0;
  color: #ffffff;
  font-size: 1.25rem;
}
@media screen and (max-width: 576px) {
  .image-background-cta-sidebar--block--container .cta-primary-content .cta-headline {
    font-size: 2rem;
  }
}
.image-background-cta-sidebar--block--container .cta-sidebar-content .cta-body .card {
  padding: 2rem 0;
}
.image-background-cta-sidebar--block--container .cta-sidebar-content .cta-body .card .card-header {
  padding: 24px 32px 16px;
}
.image-background-cta-sidebar--block--container .cta-sidebar-content .cta-body .card .card-header .card-title {
  font-size: 2.5rem;
}
.image-background-cta-sidebar--block:before {
  content: " ";
  background-image: url("data:image/svg+xml,%3Csvg data-name='Group 11364' xmlns='http://www.w3.org/2000/svg' width='186.902' height='470.605'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath data-name='Rectangle 15261' fill='none' stroke='%23e8e8e8' d='M0 0h113.282v130.808H0z'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Cpath data-name='Rectangle 15261' fill='%2300a3e0' d='M0 0h33.959v39.213H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg data-name='Group 11140'%3E%3Cg data-name='Group 11128' clip-path='url(%23a)'%3E%3Cpath data-name='Path 17317' d='M112.482 97.644V33.166L56.642.926.802 33.166v64.478l55.84 32.239Z' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10'/%3E%3C/g%3E%3C/g%3E%3Cg data-name='Group 11143'%3E%3Cg data-name='Group 11128' clip-path='url(%23a)' transform='translate(0 193)'%3E%3Cpath data-name='Path 17317' d='M112.482 97.644V33.166L56.642.926.802 33.166v64.478l55.84 32.239Z' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10'/%3E%3C/g%3E%3C/g%3E%3Cg data-name='Group 11141'%3E%3Cg data-name='Group 11128' clip-path='url(%23a)' transform='translate(56.641 96)'%3E%3Cpath data-name='Path 17317' d='M112.482 97.644V33.166L56.642.926.802 33.166v64.478l55.84 32.239Z' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10'/%3E%3C/g%3E%3C/g%3E%3Cg data-name='Group 11142'%3E%3Cg data-name='Group 11128' clip-path='url(%23a)' transform='translate(56.641 289)'%3E%3Cpath data-name='Path 17317' d='M112.482 97.644V33.166L56.642.926.802 33.166v64.478l55.84 32.239Z' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10'/%3E%3C/g%3E%3C/g%3E%3Cg data-name='Group 11144'%3E%3Cg data-name='Group 11128' clip-path='url(%23b)' transform='translate(152.943 238.797)'%3E%3Cpath data-name='Path 17317' d='M33.719 29.271V9.942L16.98.277.24 9.942v19.329l16.74 9.664Z' fill='%2300a3e0'/%3E%3C/g%3E%3C/g%3E%3Cg data-name='Group 11145'%3E%3Cg data-name='Group 11128' clip-path='url(%23b)' transform='translate(39.661 431.393)'%3E%3Cpath data-name='Path 17317' d='M33.719 29.271V9.942L16.98.277.24 9.942v19.329l16.74 9.664Z' fill='%2300a3e0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 9.9%;
  height: 100%;
}
.image-background-cta-sidebar--block:after {
  content: " ";
  background-image: url("data:image/svg+xml,%3Csvg data-name='Group 11365' xmlns='http://www.w3.org/2000/svg' width='258.523' height='379.607'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath data-name='Rectangle 15261' fill='none' stroke='%23e8e8e8' d='M0 0h113.282v130.808H0z'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Cpath data-name='Rectangle 15261' fill='%2300a3e0' d='M0 0h33.959v39.213H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg data-name='Group 11146'%3E%3Cg data-name='Group 11128' clip-path='url(%23a)' transform='translate(128.263 248.799)'%3E%3Cpath data-name='Path 17317' d='M112.482 97.644V33.166L56.642.926.802 33.166v64.478l55.84 32.239Z' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10'/%3E%3C/g%3E%3C/g%3E%3Cg data-name='Group 11147'%3E%3Cg data-name='Group 11128' clip-path='url(%23a)' transform='translate(16.979 248.799)'%3E%3Cpath data-name='Path 17317' d='M112.482 97.644V33.166L56.642.926.802 33.166v64.478l55.84 32.239Z' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10'/%3E%3C/g%3E%3C/g%3E%3Cg data-name='Group 11148'%3E%3Cg data-name='Group 11128' clip-path='url(%23a)' transform='translate(73.621 151.799)'%3E%3Cpath data-name='Path 17317' d='M112.482 97.644V33.166L56.642.926.802 33.166v64.478l55.84 32.239Z' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10'/%3E%3C/g%3E%3C/g%3E%3Cg data-name='Group 11149'%3E%3Cg data-name='Group 11128' clip-path='url(%23a)' transform='translate(130.263 55.799)'%3E%3Cpath data-name='Path 17317' d='M112.482 97.644V33.166L56.642.926.802 33.166v64.478l55.84 32.239Z' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10'/%3E%3C/g%3E%3C/g%3E%3Cg data-name='Group 11150'%3E%3Cg data-name='Group 11128' clip-path='url(%23b)' transform='translate(0 197.596)'%3E%3Cpath data-name='Path 17317' d='M33.719 29.271V9.942L16.98.277.24 9.942v19.329l16.74 9.664Z' fill='%2300a3e0'/%3E%3C/g%3E%3C/g%3E%3Cg data-name='Group 11151'%3E%3Cg data-name='Group 11128' clip-path='url(%23b)' transform='translate(224.564)'%3E%3Cpath data-name='Path 17317' d='M33.719 29.271V9.942L16.98.277.24 9.942v19.329l16.74 9.664Z' fill='%2300a3e0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  display: inline-block;
  position: absolute;
  right: -11px;
  bottom: 0;
  width: 13.5%;
  height: 100%;
}

/*------------------------------------------------------------------
 Tabbed Content with Icon - Custom
--------------------------------------------------------------------*/
.block-tabbed-content-icon .udi-accordion-panels .accordion--item .collapse-item--content {
  padding: 1.25rem 0;
}
.block-tabbed-content-icon .udi-tabbed-panels .nav-tabs {
  border-bottom: 1px solid #D0D0D0;
  margin-right: 10%;
}
.block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item {
  color: #191919;
  padding: 30px 40px;
  margin: 0;
  align-items: flex-start;
  border-top: 1px solid #D0D0D0;
  cursor: pointer;
}
.block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #00A3E0;
}
.block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item:hover .nav-item--content {
  color: #ffffff;
}
.block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item:hover .nav-item--content img {
  filter: invert(1);
}
.block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item:nth-child(odd) {
  border-right: 1px solid #D0D0D0;
}
.block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item--link {
  text-decoration: none;
  z-index: 1;
}
.block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item--link:focus {
  outline: none !important;
  box-shadow: none !important;
}
.block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item .nav-item--content {
  color: #191919;
  z-index: 2;
}
.block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item .nav-item--content .item-icon {
  margin-bottom: 1rem;
}
.block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item .nav-item--content .item-icon img {
  width: 56px;
  height: auto;
}
.block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item .nav-item--content .item-heading {
  font-size: 1.25rem;
  font-weight: 600;
}
.block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item.active {
  color: #fff;
  background-color: #00A3E0;
}
.block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item.active a {
  color: #fff;
}
.block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item.active .nav-item--content {
  color: #fff;
}
.block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item.active .nav-item--content img {
  filter: invert(1);
}
.block-tabbed-content-icon .tab-content,
.block-tabbed-content-icon .accordion-content {
  overflow: unset;
  margin: 0;
  padding: 0;
  position: relative;
}
.block-tabbed-content-icon .tab-content .tab-pane .tab-content--wrapper .tab--background,
.block-tabbed-content-icon .tab-content .accordion-pane .tab-content--wrapper .tab--background,
.block-tabbed-content-icon .accordion-content .tab-pane .tab-content--wrapper .tab--background,
.block-tabbed-content-icon .accordion-content .accordion-pane .tab-content--wrapper .tab--background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ccc;
}
.block-tabbed-content-icon .tab-content .tab-pane .tab-content--wrapper .tab--background img,
.block-tabbed-content-icon .tab-content .accordion-pane .tab-content--wrapper .tab--background img,
.block-tabbed-content-icon .accordion-content .tab-pane .tab-content--wrapper .tab--background img,
.block-tabbed-content-icon .accordion-content .accordion-pane .tab-content--wrapper .tab--background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: rgba(25, 25, 25, 0.75);
  filter: brightness(50%);
}
.block-tabbed-content-icon .tab-content .tab-pane .tab-content--wrapper .tab-pane--content,
.block-tabbed-content-icon .tab-content .accordion-pane .tab-content--wrapper .tab-pane--content,
.block-tabbed-content-icon .accordion-content .tab-pane .tab-content--wrapper .tab-pane--content,
.block-tabbed-content-icon .accordion-content .accordion-pane .tab-content--wrapper .tab-pane--content {
  color: #ffffff;
  padding: 0 112px;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
}
.block-tabbed-content-icon .tab-content .tab-pane .tab-content--wrapper .tab-pane--content .item-icon,
.block-tabbed-content-icon .tab-content .accordion-pane .tab-content--wrapper .tab-pane--content .item-icon,
.block-tabbed-content-icon .accordion-content .tab-pane .tab-content--wrapper .tab-pane--content .item-icon,
.block-tabbed-content-icon .accordion-content .accordion-pane .tab-content--wrapper .tab-pane--content .item-icon {
  width: 88px;
}
.block-tabbed-content-icon .tab-content .tab-pane .tab-content--wrapper .tab-pane--content .item-icon img,
.block-tabbed-content-icon .tab-content .accordion-pane .tab-content--wrapper .tab-pane--content .item-icon img,
.block-tabbed-content-icon .accordion-content .tab-pane .tab-content--wrapper .tab-pane--content .item-icon img,
.block-tabbed-content-icon .accordion-content .accordion-pane .tab-content--wrapper .tab-pane--content .item-icon img {
  width: 100%;
  height: auto;
  filter: invert(1);
}
.block-tabbed-content-icon .tab-content .tab-pane .tab-content--wrapper .tab-pane--content .item-heading,
.block-tabbed-content-icon .tab-content .accordion-pane .tab-content--wrapper .tab-pane--content .item-heading,
.block-tabbed-content-icon .accordion-content .tab-pane .tab-content--wrapper .tab-pane--content .item-heading,
.block-tabbed-content-icon .accordion-content .accordion-pane .tab-content--wrapper .tab-pane--content .item-heading {
  font-size: 2.5rem;
  line-height: 3rem;
}
.block-tabbed-content-icon .tab-content .tab-pane .tab-content--wrapper .tab-pane--content .item-body,
.block-tabbed-content-icon .tab-content .accordion-pane .tab-content--wrapper .tab-pane--content .item-body,
.block-tabbed-content-icon .accordion-content .tab-pane .tab-content--wrapper .tab-pane--content .item-body,
.block-tabbed-content-icon .accordion-content .accordion-pane .tab-content--wrapper .tab-pane--content .item-body {
  font-size: 1.25rem;
}
.block-tabbed-content-icon .tab-content .accordion-pane .tab-content--wrapper,
.block-tabbed-content-icon .accordion-content .accordion-pane .tab-content--wrapper {
  position: relative;
}
.block-tabbed-content-icon .tab-content .accordion-pane .tab-content--wrapper .tab--background,
.block-tabbed-content-icon .accordion-content .accordion-pane .tab-content--wrapper .tab--background {
  position: relative;
}
.block-tabbed-content-icon .tab-content .accordion-pane .tab-content--wrapper .tab-pane--content,
.block-tabbed-content-icon .accordion-content .accordion-pane .tab-content--wrapper .tab-pane--content {
  padding: 0 24px;
}
.block-tabbed-content-icon .tab-content .accordion-pane .tab-content--wrapper .tab-pane--content .item-icon,
.block-tabbed-content-icon .accordion-content .accordion-pane .tab-content--wrapper .tab-pane--content .item-icon {
  width: 56px;
}
.block-tabbed-content-icon .tab-content .accordion-pane .tab-content--wrapper .tab-pane--content .item-heading,
.block-tabbed-content-icon .accordion-content .accordion-pane .tab-content--wrapper .tab-pane--content .item-heading {
  font-size: 1.5rem;
  line-height: 1.75rem;
}
.block-tabbed-content-icon .tab-content .accordion-pane .tab-content--wrapper .tab-pane--content .item-body,
.block-tabbed-content-icon .accordion-content .accordion-pane .tab-content--wrapper .tab-pane--content .item-body {
  font-size: 1rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #8c1d40;
  background-color: #fff;
  border-color: #8c1d40;
}

/*------------------------------------------------------------------
 Testimonial/Quote - Custom
--------------------------------------------------------------------*/
.udi-quote-custom {
  max-width: 100%;
  background-position-y: top;
}
.udi-quote-custom .uds-quote-image-background-container {
  margin-top: 1rem;
}
.udi-quote-custom .uds-quote-image-background-container .uds-blockquote.uds-testimonial {
  align-items: start;
}
.udi-quote-custom .uds-quote-image-background-container .uds-blockquote.uds-testimonial blockquote {
  text-align: left;
}
.udi-quote-custom .uds-quote-image-background-container .uds-blockquote.uds-testimonial blockquote .testimonial-quote {
  max-width: 55%;
  font-size: 1.5rem;
}
.udi-quote-custom .uds-quote-image-background-container .uds-blockquote.uds-testimonial .citation {
  justify-content: start;
}
.udi-quote-custom .uds-quote-image-background-container .uds-blockquote.uds-testimonial .citation:before {
  margin-left: 0;
}
.udi-quote-custom .uds-quote-image-background-container .uds-blockquote.uds-testimonial cite.name,
.udi-quote-custom .uds-quote-image-background-container .uds-blockquote.uds-testimonial cite .description {
  justify-content: start;
}
.udi-quote-custom .uds-quote-image-background-container .uds-blockquote.uds-testimonial cite.description {
  max-width: 290px;
  font-style: italic;
  justify-content: start;
}
.udi-quote-custom .uds-quote-image-background-container .uds-blockquote .quotes-container {
  width: 700px;
}
.udi-quote-custom .uds-quote-image-background-container .quotes-inner,
.udi-quote-custom .uds-quote-image-background-container .quotes-outer {
  display: none;
}
.udi-quote-custom .uds-quote-image-background-container.quotessingle .uds-testimonial .quotes-inner {
  display: block;
}
.udi-quote-custom .uds-quote-image-background-container.quotessingle .uds-testimonial .citation:before {
  height: 0;
  width: 0;
}
.udi-quote-custom .uds-quote-image-background-container.quotessingle .uds-testimonial blockquote p:first-of-type:before {
  content: "";
}
.udi-quote-custom .uds-quote-image-background-container.quotesdouble .uds-testimonial .quotes-inner {
  display: block;
}
.udi-quote-custom .uds-quote-image-background-container.quotesdouble .uds-testimonial .quotes-outer {
  display: block;
  transform: rotate(180deg);
}
@media (max-width: 576px) {
  .udi-quote-custom .uds-quote-image-background-container.quotesdouble .uds-testimonial .quotes-outer {
    display: none;
  }
}
.udi-quote-custom .uds-quote-image-background-container.quotesdouble .uds-testimonial blockquote {
  padding: 0 70px;
  max-width: 700px;
  margin-top: -45px;
}
.udi-quote-custom .uds-quote-image-background-container.quotesdouble .uds-testimonial blockquote p:last-of-type:after {
  content: "";
}
.udi-quote-custom .uds-quote-image-background-container.quotesdouble .uds-testimonial blockquote p:first-of-type:before {
  content: "";
}
.udi-quote-custom .uds-quote-image-background-container.quotesdouble .uds-testimonial blockquote .testimonial-quote {
  max-width: 100%;
}

/*------------------------------------------------------------------
 Icon Grid Blocks - Custom
--------------------------------------------------------------------*/
.udi-icon-grid--blocks .grid-items {
  padding: 16px 0;
}
.udi-icon-grid--blocks .grid-items .grid-item--icon {
  min-width: 100px;
  min-height: 112px;
  text-align: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='91.217' height='105.329'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath data-name='Rectangle 15275' fill='%2300a3e0' d='M0 0h91.217v105.329H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg data-name='Group 11221' clip-path='url(%23a)'%3E%3Cpath data-name='Path 17321' d='M90.571 78.624V26.705L45.608.745.645 26.705v51.919l44.963 25.96Z' fill='%2300a3e0'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}
.udi-icon-grid--blocks .grid-items .grid-item--icon img {
  height: 3.5em;
  width: auto;
  /*filter: invert(1);*/
}
.udi-icon-grid--blocks .grid-items .grid-item--icon svg {
  height: 2.5em;
  width: auto;
  color: #ffffff;
}
.udi-icon-grid--blocks .grid-items .grid-item--body {
  max-width: 80%;
}
.udi-icon-grid--blocks.one-column {
  flex-direction: column !important;
}
.udi-icon-grid--blocks.one-column .grid-items {
  padding: 30px 0;
  border-bottom: 1px solid #D0D0D0;
}
.udi-icon-grid--blocks.one-column .grid-items:first-child {
  border-top: 1px solid #D0D0D0;
}
.udi-icon-grid--blocks.one-column .grid-items .grid-item {
  align-items: center;
}
.udi-icon-grid--blocks.one-column .grid-items .grid-item--title {
  font-size: 2rem;
}
.udi-icon-grid--blocks.two-columns {
  flex-wrap: wrap;
}
.udi-icon-grid--blocks.two-columns .grid-items {
  align-items: flex-start;
  flex: 0 0 50%;
  max-width: 50%;
}
.udi-icon-grid--blocks.two-columns .grid-items .grid-item {
  align-items: flex-start;
}
.udi-icon-grid--blocks.two-columns .grid-items .grid-item--title {
  font-size: 1.25rem;
}
.udi-icon-grid--blocks.two-columns .grid-items .grid-item--body {
  max-width: 80%;
}
.udi-icon-grid--blocks.three-columns {
  flex-wrap: wrap;
}
.udi-icon-grid--blocks.three-columns .grid-items {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.udi-icon-grid--blocks.three-columns .grid-items .grid-item {
  align-items: flex-start;
}
.udi-icon-grid--blocks.three-columns .grid-items .grid-item--icon {
  min-width: 72px;
  min-height: 72px;
}
.udi-icon-grid--blocks.three-columns .grid-items .grid-item--icon img {
  height: 1.5em;
  width: auto;
  filter: invert(1);
}
.udi-icon-grid--blocks.three-columns .grid-items .grid-item--icon img.png-icon {
  height: 2.5em;
  filter: unset;
}
.udi-icon-grid--blocks.three-columns .grid-items .grid-item--icon svg {
  height: 1.5em;
  width: auto;
  color: #ffffff;
}
.udi-icon-grid--blocks.three-columns .grid-items .grid-item--title {
  font-size: 1.25rem;
}
.udi-icon-grid--blocks.four-columns {
  flex-wrap: wrap;
}
.udi-icon-grid--blocks.four-columns .grid-items {
  flex: 0 0 25%;
  max-width: 25%;
}
.udi-icon-grid--blocks.four-columns .grid-items .grid-item {
  align-items: flex-start;
}
.udi-icon-grid.bg-light {
  padding: 4rem 6.25rem;
  background-color: #FAFAFA !important;
}
.udi-icon-grid.bg-light .grid-item--icon {
  min-width: 52px;
  min-height: 60px;
  background-size: 90%;
}
.udi-icon-grid.bg-light .grid-item--icon img {
  height: 1.5em;
}
.udi-icon-grid.bg-light .grid-item--icon svg {
  height: 1.5em;
}

/*------------------------------------------------------------------
 Institution List - Custom
--------------------------------------------------------------------*/
.block-institution-list .block-institution-list--items .institution-item {
  width: 100%;
}
.block-institution-list .block-institution-list--items .institution-item--logo {
  height: 90px;
}

/*------------------------------------------------------------------
 Timeline Block - Custom
--------------------------------------------------------------------*/
.block-timeline--items .timeline-item {
  flex: 1 1 0;
  border-top: 1px solid #D0D0D0;
  padding-top: 2rem;
  position: relative;
}
.block-timeline--items .timeline-item--date {
  font-size: 1.25rem;
  font-weight: 600;
  padding-right: 1rem;
}
.block-timeline--items .timeline-item--item {
  padding-right: 1.75rem;
}
.block-timeline--items .timeline-item:last-child {
  border-top: none;
}
.block-timeline--items .timeline-item:before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.176' height='24.452'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath data-name='Rectangle 15275' fill='%2300a3e0' d='M0 0h21.176v24.452H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg data-name='Group 11386'%3E%3Cg data-name='Group 11221' clip-path='url(%23a)'%3E%3Cpath data-name='Path 17321' d='M21.027 18.253V6.196L10.589.173.15 6.196v12.057l10.438 6.026Z' fill='%2300a3e0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 22px;
  height: 25px;
  position: absolute;
  top: -13px;
  left: 0;
}

/*------------------------------------------------------------------
 Participants Cohort Block - Custom Static
--------------------------------------------------------------------*/
.participants--cohort-list img {
  flex: 1 1 0;
}

/*------------------------------------------------------------------
 Leadership Grid - Custom
--------------------------------------------------------------------*/
.block-leadership-grid--items .profile-item {
  width: 33.3333%;
  margin-bottom: 4rem;
}

/*------------------------------------------------------------------
 Profiles - Custom
--------------------------------------------------------------------*/
.uds-person-profile .person-profession h4 {
  font-weight: normal;
  margin-bottom: 1rem;
}

.block-featured-fellow .uds-person-profile {
  flex-direction: column;
}
.block-featured-fellow .uds-person-profile .person {
  margin: 1.5rem 0 0 0;
}

/*------------------------------------------------------------------
 Text with Image - Overrides
--------------------------------------------------------------------*/
.block-inline-blockimage-and-text-block .uds-image-text-block-container {
  border: none;
}
/*------------------------------------------------------------------
 Text with Image - UDI Custom
--------------------------------------------------------------------*/
.block-inline-blockimage-and-text-block-udi .uds-image-text-block-container {
  border: none;
}
.block-inline-blockimage-and-text-block-udi .uds-image-text-block-container .uds-image-text-block-text-container {
  padding: 0 3rem 0 0;
  position: relative;
}
.block-inline-blockimage-and-text-block-udi .uds-image-text-block-container .uds-image-text-block-text-container--wrapper {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}
.block-inline-blockimage-and-text-block-udi .image-style--accent {
  position: relative;
}
.block-inline-blockimage-and-text-block-udi .image-style--accent:before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='113.282' height='169.818'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath data-name='Rectangle 15261' fill='none' stroke='%23e8e8e8' d='M0 0h113.282v130.808H0z'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Cpath data-name='Rectangle 15261' fill='%2300a3e0' d='M0 0h33.959v39.213H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg data-name='Group 11491'%3E%3Cg data-name='Group 11132'%3E%3Cg data-name='Group 11128' transform='translate(0 39.01)' clip-path='url(%23a)'%3E%3Cpath data-name='Path 17317' d='M.8 97.649V33.166L56.64.926l55.84 32.239v64.484l-55.84 32.234Z' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10'/%3E%3C/g%3E%3C/g%3E%3Cg data-name='Group 11133'%3E%3Cg data-name='Group 11128' transform='translate(10.681)' clip-path='url(%23b)'%3E%3Cpath data-name='Path 17317' d='M.24 29.271V9.942L16.98.277l16.739 9.664v19.33L16.98 38.935Z' fill='%2300a3e0'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
  display: inline-block;
  position: absolute;
  left: -57px;
  bottom: -308px;
  width: 19.2%;
  height: 100%;
}
.block-inline-blockimage-and-text-block-udi .image-style--accent:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='169.923' height='227.617'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath data-name='Rectangle 15261' fill='none' stroke='%23e8e8e8' d='M0 0h113.282v130.808H0z'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Cpath data-name='Rectangle 15261' fill='%2300a3e0' d='M0 0h33.959v39.213H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg data-name='Group 11492'%3E%3Cg data-name='Group 11129'%3E%3Cg data-name='Group 11128' transform='translate(56.64)' clip-path='url(%23a)'%3E%3Cpath data-name='Path 17317' d='M.8 97.649V33.166L56.64.926l55.84 32.239v64.484l-55.84 32.234Z' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10'/%3E%3C/g%3E%3C/g%3E%3Cg data-name='Group 11130'%3E%3Cg data-name='Group 11128' transform='translate(0 96.809)' clip-path='url(%23a)'%3E%3Cpath data-name='Path 17317' d='M.8 97.649V33.166L56.64.926l55.84 32.239v64.484l-55.84 32.234Z' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10'/%3E%3C/g%3E%3C/g%3E%3Cg data-name='Group 11131'%3E%3Cg data-name='Group 11128' transform='translate(121.641 126)' clip-path='url(%23b)'%3E%3Cpath data-name='Path 17317' d='M.24 29.271V9.942L16.98.277l16.739 9.664v19.33L16.98 38.935Z' fill='%2300a3e0'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  display: inline-block;
  position: absolute;
  right: -86px;
  top: -248px;
  width: 28.9%;
  height: 100%;
}
.block-inline-blockimage-and-text-block-udi .image-style--accent-rev {
  position: relative;
}
.block-inline-blockimage-and-text-block-udi .image-style--accent-rev:before {
  content: " ";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='169.923' height='227.616' viewBox='0 0 169.923 227.616'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_15261' data-name='Rectangle 15261' width='113.282' height='130.808' fill='none' stroke='%23e8e8e8' stroke-width='1'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-3'%3E%3Crect id='Rectangle_15261-3' data-name='Rectangle 15261' width='33.959' height='39.213' fill='%2300a3e0'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_11492' data-name='Group 11492' transform='translate(-273.359 -2056)'%3E%3Cg id='Group_11129' data-name='Group 11129' transform='translate(273.359 2056)'%3E%3Cg id='Group_11128' data-name='Group 11128' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_17317' data-name='Path 17317' d='M112.18,97.295V32.817L56.34.577.5,32.817V97.295l55.84,32.239Z' transform='translate(0.302 0.349)' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_11130' data-name='Group 11130' transform='translate(330 2152.809)'%3E%3Cg id='Group_11128-2' data-name='Group 11128' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_17317-2' data-name='Path 17317' d='M112.18,97.295V32.817L56.34.577.5,32.817V97.295l55.84,32.239Z' transform='translate(0.302 0.349)' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_11131' data-name='Group 11131' transform='translate(287.682 2182)'%3E%3Cg id='Group_11128-3' data-name='Group 11128' transform='translate(0 0)' clip-path='url(%23clip-path-3)'%3E%3Cpath id='Path_17317-3' data-name='Path 17317' d='M33.979,29.571V10.242L17.24.577.5,10.242V29.571L17.24,39.235Z' transform='translate(-0.26 -0.3)' fill='%2300a3e0'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
  display: inline-block;
  position: absolute;
  left: -87px;
  top: -65px;
  width: 28.9%;
  height: 100%;
}
.block-inline-blockimage-and-text-block-udi .image-style--accent-rev:after {
  content: " ";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='113.282' height='169.819' viewBox='0 0 113.282 169.819'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_15261' data-name='Rectangle 15261' width='113.282' height='130.808' fill='none' stroke='%23e8e8e8' stroke-width='1'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-2'%3E%3Crect id='Rectangle_15261-2' data-name='Rectangle 15261' width='33.959' height='39.213' fill='%2300a3e0'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_11493' data-name='Group 11493' transform='translate(-891.358 -2418.797)'%3E%3Cg id='Group_11132' data-name='Group 11132' transform='translate(891.358 2457.809)'%3E%3Cg id='Group_11128' data-name='Group 11128' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_17317' data-name='Path 17317' d='M112.18,97.295V32.817L56.34.577.5,32.817V97.295l55.84,32.239Z' transform='translate(0.302 0.349)' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_11133' data-name='Group 11133' transform='translate(960 2418.798)'%3E%3Cg id='Group_11128-2' data-name='Group 11128' transform='translate(0 0)' clip-path='url(%23clip-path-2)'%3E%3Cpath id='Path_17317-2' data-name='Path 17317' d='M33.979,29.571V10.242L17.24.577.5,10.242V29.571L17.24,39.235Z' transform='translate(-0.26 -0.3)' fill='%2300a3e0'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  display: inline-block;
  position: absolute;
  right: -57px;
  bottom: -57px;
  width: 19.2%;
  height: 100%;
}
.block-inline-blockimage-and-text-block-udi .udi-align--left .uds-image-text-block-text-container--wrapper {
  padding-left: 6rem;
}
.block-inline-blockimage-and-text-block-udi .udi-align--right .uds-image-text-block-text-container--wrapper {
  padding-right: 6rem;
}

/*------------------------------------------------------------------
 DTI Framework Block
--------------------------------------------------------------------*/
.dti-framework-icons h3 {
  max-width: 180px;
}
.dti-framework-icons img {
  padding-left: 0;
}

/*------------------------------------------------------------------
 About Us - Custom Styles
--------------------------------------------------------------------*/
/* Minu Intro */
.linkbox--intro {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
}

@media (max-width: 576px) {
  .linkbox--intro {
    position: relative;
    transform: unset;
  }
}
/*------------------------------------------------------------------
 Target Outcomes - Custom Static
--------------------------------------------------------------------*/
.target-outcomes {
  margin-top: 32px;
}
.target-outcomes .item .target-count {
  color: #191919;
  background-color: #FFC627;
  display: inline-block;
  margin: 0 0 1.5rem 0;
  padding: 0 3px;
  width: auto;
  font-size: 1.5rem;
  font-weight: 600;
}

/*------------------------------------------------------------------
 Events - Custom
--------------------------------------------------------------------*/
.event-sidebar-block .event-sidebar h4 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.event-sidebar-block .event-sidebar p {
  margin-bottom: 0;
}
.event-sidebar-block .event-sidebar hr {
  margin: 1.5rem 0;
}
.event-sidebar-block .event-sidebar .btn-gold {
  color: #212529 !important;
  margin-top: 1.25rem;
}

/*------------------------------------------------------------------
 Video Modal - Custom
--------------------------------------------------------------------*/
.block-video-modal--video img {
  width: 100%;
}
.block-video-modal--video button[data-toggle=modal] {
  position: absolute;
  z-index: 10;
  background: transparent;
  border: none;
  top: 0;
  height: 75px;
  width: 75px;
  right: 0;
  margin: auto;
  bottom: 0;
  left: 0;
  padding: 0;
}
.block-video-modal--video div[id*=udiVideoModal] .modal-dialog {
  max-width: 100%;
}
.block-video-modal--video div[id*=udiVideoModal] .modal-content {
  height: 100%;
  background: transparent;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0;
}
.block-video-modal--video div[id*=udiVideoModal] .modal-content .modal-header {
  padding: 0;
  background: transparent;
  border: none;
  position: relative;
  z-index: 10;
  right: 0;
}
.block-video-modal--video div[id*=udiVideoModal] .modal-content .modal-body {
  position: relative;
}
.block-video-modal--video div[id*=udiVideoModal] .modal-content .modal-body .embedded-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}
.block-video-modal--video div[id*=udiVideoModal] .modal-content .modal-body .embedded-video iframe {
  position: absolute !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.block-video-modal--video .udi-video__caption {
  font-weight: 1.5rem;
  font-weight: 600;
}
.block-video-modal .modal-content--bypass .modal-body {
  padding: 0;
}
.block-video-modal .modal-content--bypass .modal-body iframe {
  width: 100%;
  height: 360px;
}
@media screen and (max-width: 576px) {
  .block-video-modal .modal-content--bypass .modal-body iframe {
    height: auto;
  }
}

@media (max-width: 576px) {
  div[class^=uds-hero] h1 {
    grid-row: 1/span 6;
    z-index: 21;
  }
  div[class^=uds-hero]:after {
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(25, 25, 25, 0), rgba(25, 25, 25, 0.79));
    grid-column: 1/span 3;
    grid-row: 1/span 6;
    z-index: 20;
  }
}
.page-node-8 .uds-image-text-block-container .uds-image-text-block-image-container {
  position: relative;
}
.page-node-8 .uds-image-text-block-container .uds-image-text-block-image-container:before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='113.282' height='169.818'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath data-name='Rectangle 15261' fill='none' stroke='%23e8e8e8' d='M0 0h113.282v130.808H0z'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Cpath data-name='Rectangle 15261' fill='%2300a3e0' d='M0 0h33.959v39.213H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg data-name='Group 11491'%3E%3Cg data-name='Group 11132'%3E%3Cg data-name='Group 11128' transform='translate(0 39.01)' clip-path='url(%23a)'%3E%3Cpath data-name='Path 17317' d='M.8 97.649V33.166L56.64.926l55.84 32.239v64.484l-55.84 32.234Z' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10'/%3E%3C/g%3E%3C/g%3E%3Cg data-name='Group 11133'%3E%3Cg data-name='Group 11128' transform='translate(10.681)' clip-path='url(%23b)'%3E%3Cpath data-name='Path 17317' d='M.24 29.271V9.942L16.98.277l16.739 9.664v19.33L16.98 38.935Z' fill='%2300a3e0'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
  display: inline-block;
  position: absolute;
  left: -37px;
  bottom: -308px;
  width: 12.2%;
  height: 100%;
}
.page-node-8 .uds-image-text-block-container .uds-image-text-block-image-container:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='169.923' height='227.617'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath data-name='Rectangle 15261' fill='none' stroke='%23e8e8e8' d='M0 0h113.282v130.808H0z'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Cpath data-name='Rectangle 15261' fill='%2300a3e0' d='M0 0h33.959v39.213H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg data-name='Group 11492'%3E%3Cg data-name='Group 11129'%3E%3Cg data-name='Group 11128' transform='translate(56.64)' clip-path='url(%23a)'%3E%3Cpath data-name='Path 17317' d='M.8 97.649V33.166L56.64.926l55.84 32.239v64.484l-55.84 32.234Z' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10'/%3E%3C/g%3E%3C/g%3E%3Cg data-name='Group 11130'%3E%3Cg data-name='Group 11128' transform='translate(0 96.809)' clip-path='url(%23a)'%3E%3Cpath data-name='Path 17317' d='M.8 97.649V33.166L56.64.926l55.84 32.239v64.484l-55.84 32.234Z' fill='none' stroke='%23e8e8e8' stroke-miterlimit='10'/%3E%3C/g%3E%3C/g%3E%3Cg data-name='Group 11131'%3E%3Cg data-name='Group 11128' transform='translate(121.641 126)' clip-path='url(%23b)'%3E%3Cpath data-name='Path 17317' d='M.24 29.271V9.942L16.98.277l16.739 9.664v19.33L16.98 38.935Z' fill='%2300a3e0'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  display: inline-block;
  position: absolute;
  right: -86px;
  top: -248px;
  width: 20.9%;
  height: 100%;
}
@media (max-width: 576px) {
  .page-node-8 .uds-image-text-block-container .uds-image-text-block-image-container:before {
    display: none;
  }
  .page-node-8 .uds-image-text-block-container .uds-image-text-block-image-container:before {
    display: none;
  }
}

/*------------------------------------------------------------------
1. Basic Card Utilities
--------------------------------------------------------------------*/
.card.no-border {
  border: none;
}
.card.no-border .card-icon-top {
  margin: 2rem 0;
}
.card.no-border .card-header {
  padding: 24px 0 16px;
}
.card.no-border .card-body {
  padding: 0 0 24px;
}

/*------------------------------------------------------------------
10. Custom UDI Cards
--------------------------------------------------------------------*/
.card--side-icon .card-icon {
  margin: 0 1rem 0 0 !important;
}
.card--side-icon .card-icon,
.card--side-icon .card-title {
  font-size: 4rem;
}
.card--side-icon .card-header {
  padding-bottom: 0 !important;
}
.card--side-icon .card-body {
  padding: 0 5rem 24px 0 !important;
}
.card--side-icon .card-body p {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.015rem;
  opacity: 1;
  margin: 0;
}
.card.no-border.card-hover:hover {
  padding: 0.5rem;
}
.card.no-border .card-header {
  padding: 24px 0 16px;
}

.profile-img {
  max-width: 144px;
  max-height: 144px;
}

/*------------------------------------------------------------------
Basic Card Utilities
--------------------------------------------------------------------*/
.form-item {
  margin-right: 1.25rem;
}

form.views-exposed-form {
  display: flex;
}
form.views-exposed-form .form-group {
  margin: 0 2rem 2rem 0;
}
form.views-exposed-form .form-group .custom-select {
  border-radius: 0;
}
form.views-exposed-form .form-actions {
  margin: 1.5rem 0 2rem 0;
}
form.views-exposed-form .form-actions .btn-primary {
  color: #212529;
  background-color: #ffc627;
  border-color: #ffc627;
}

/*------------------------------------------------------------------
 Experts/Fellows
--------------------------------------------------------------------*/
.experts-section .experts--teaser {
  margin-bottom: 1rem;
}

.uds-person-profile .person {
  margin-left: -1rem;
  padding-right: 1rem;
}

/*------------------------------------------------------------------
Resources Exposed Forms
--------------------------------------------------------------------*/
.design-resources-block-filtered .views-exposed-form {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
}
.design-resources-block-filtered .views-exposed-form .js-form-item:first-child {
  width: 100%;
}
.design-resources-block-filtered .views-exposed-form .js-form-item:first-child input {
  width: 50%;
}
.design-resources-block-filtered .views-exposed-form .js-form-item:not(:first-child) {
  flex: 1;
}
.design-resources-block-filtered .views-exposed-form .form-actions {
  width: 100%;
}

/*------------------------------------------------------------------
 Mailchimp - Custom
--------------------------------------------------------------------*/
#mc-embedded-subscribe {
  margin: 0;
}

#mc_embed_signup .mc-field-group {
  width: 100%;
}
#mc_embed_signup input {
  border-radius: 0;
}
#mc_embed_signup input.subscribe {
  border: 1px solid transparent;
  border-radius: 400rem;
  font-size: 1rem;
}
#mc_embed_signup .mc-group-name .mc-field-group {
  padding: 0 0 3% 0;
  width: 50%;
}
#mc_embed_signup .mc-group-name .mc-field-group:first-child {
  padding-right: 1rem;
}
#mc_embed_signup .mc-group-name .mc-field-group:last-child {
  padding-left: 1rem;
}

/*------------------------------------------------------------------
Responsive Cleanup - Custom
--------------------------------------------------------------------*/
@media screen and (max-width: 576px) {
  .block-inline-blockvideo-hero .poster {
    object-fit: cover;
  }

  .image-background-cta-sidebar--block--container {
    max-width: 90%;
  }
  .image-background-cta-sidebar--block--container .cta-sidebar-content .cta-body {
    margin-top: 3rem;
  }

  .block-tabbed-content-icon .udi-tabbed-panels .nav-tabs {
    margin-right: 0;
  }
  .block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item {
    padding: 8px 16px;
  }
  .block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item:nth-child(odd) {
    border-right: none;
  }
  .block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item .nav-item--content {
    align-items: center;
  }
  .block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item .nav-item--content .item-heading {
    font-size: 1rem;
    font-weight: 400;
  }
  .block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item .nav-item--content .item-icon {
    margin: 0 8px 0 0;
  }
  .block-tabbed-content-icon .udi-tabbed-panels .nav-tabs .nav-item .nav-item--content .item-icon img {
    width: 25px;
  }
  .block-tabbed-content-icon .tab-content {
    min-height: 600px;
    margin-top: 2rem;
  }
  .block-tabbed-content-icon .tab-content .tab-pane .tab-content--wrapper .tab-pane--content {
    padding: 0 2rem;
  }

  .udi-quote-custom .uds-quote-image-background-container {
    margin-top: 2rem;
  }
  .udi-quote-custom .uds-quote-image-background-container .uds-blockquote {
    padding: 0;
  }
  .udi-quote-custom .uds-quote-image-background-container .uds-blockquote.uds-testimonial .quotes-container {
    width: auto;
  }
  .udi-quote-custom .uds-quote-image-background-container .uds-blockquote.uds-testimonial blockquote .testimonial-quote {
    max-width: 100%;
    font-size: 1.25rem;
  }
  .udi-quote-custom .uds-quote-image-background-container.quotesdouble .uds-testimonial .quotes-container {
    width: 100%;
  }
  .udi-quote-custom .uds-quote-image-background-container.quotesdouble .uds-testimonial blockquote {
    padding: 2rem 0;
    max-width: 100%;
  }

  .fixed-image-background-with-cta--container {
    padding: 0;
  }
  .fixed-image-background-with-cta--container .cta-action {
    margin-top: 2rem;
  }

  .udi-icon-grid.bg-light {
    padding: 1rem;
  }

  .udi-icon-grid--blocks.one-column .grid-items .grid-item {
    align-items: start;
  }
  .udi-icon-grid--blocks.two-columns .grid-items {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .udi-icon-grid--blocks.three-columns .grid-items {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .impact-story--featured--image {
    padding: 0;
  }
  .impact-story--featured--image img {
    width: 85vw;
  }

  .impact-story--featured--body {
    padding-left: 0;
  }

  form.views-exposed-form {
    flex-direction: column;
  }

  .image-background-with-text--container {
    width: 85%;
  }

  .experts-section .experts--teaser .uds-person-profile .person {
    margin-left: unset;
  }

  .block-inline-blockimage-and-text-block-udi .uds-image-text-block-container .uds-image-text-block-text-container--wrapper {
    position: relative;
    top: unset;
    transform: unset;
  }
  .block-inline-blockimage-and-text-block-udi .udi-align--right .uds-image-text-block-text-container--wrapper {
    padding-right: 0;
  }

  .block-inline-blockimage-and-text-block .uds-image-text-block-text-container {
    padding: 2rem 0;
  }

  .block-timeline--items .timeline-item {
    padding-bottom: 1rem;
  }
  .block-timeline--items .timeline-item:last-child {
    border-top: 1px solid #D0D0D0;
  }

  .image-background-with-text--container a.btn {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .uds-image-background-with-cta {
    height: auto;
  }
}
/* UNIVERSAL STYLES
-------------------------------------------------*/
main {
  margin-bottom: -2.5rem !important;
  /* overrides the theme padding on the bottom of the main section */
}

.profile-img {
  object-fit: cover;
}

.fa-ul li p {
  padding-left: 1rem;
}

/* ----- SVG ----- */
.st0 {
  fill: #191919;
}

.st1 {
  font-family: Arial, Helvetica, sans-serif;
}

.st2 {
  font-size: 20px;
}

.st3 {
  font-family: Arial, Helvetica, sans-serif;
}

.st4 {
  font-size: 14px;
}

.st5 {
  fill: #747474;
}

.st6 {
  font-size: 18px;
}

.st00 {
  clip-path: url(#SVGID_00000137120249519303787930000018211844184397564349_);
}

.st10 {
  fill: #E8E8E8;
}

.st20 {
  fill: #00A3E0;
}

.st30 {
  fill: #191919;
}

.st40 {
  font-family: "Arial-BoldMT", Arial, Helvetica, sans-serif;
}

.st50 {
  font-size: 2.5rem;
}

.st60 {
  font-size: 9.375rem;
}

.st70 {
  letter-spacing: -5;
}

.svgimpact {
  transform: matrix(1, 0, 0, 1, 331, 351);
}

.svgcountry {
  transform: matrix(1, 0, 0, 1, 952, 351);
}

@media screen and (max-width: 576px) {
  .svgimpact {
    transform: matrix(1, 0, 0, 1, 374, 351);
  }

  .svgcountry {
    transform: matrix(1, 0, 0, 1, 984, 351);
  }

  .st50 {
    font-size: 3em;
  }

  .st60 {
    font-size: 16em;
  }
}
.cls-1, .cls-2 {
  fill: #191919;
  font-family: Arial-BoldMT, Arial;
  font-weight: 700;
}

.cls-1 {
  font-size: 40px;
  letter-spacing: -0.035em;
}

.cls-2 {
  font-size: 16px;
}

.cls-3 {
  font-family: ArialMT, Arial;
  font-weight: 400;
}

.cls-4 {
  fill: none;
  stroke: #00a3e0;
  stroke-width: 2px;
}

/*# sourceMappingURL=udi-theme.css.map */
