@media screen and (min-width:992px) {
    .asu-about h1 {
        font-size: 3rem
    }

    .asu-about div[class^=uds-hero] {
        grid-template-rows: 1fr repeat(4, auto) 1.5rem
    }

    .asu-about .block-inline-blockcontent-image .uds-image-overlap {
        grid-template-rows: 10rem 1fr 10rem
    }

    .asu-about .block-inline-blockcontent-image h2 {
        line-height: 3rem
    }

    .asu-about .block-inline-blockcontent-image h2 .highlight-gold {
        box-shadow: -.15em 0 0 2px #ffc627, .15em 0 0 2px #ffc627
    }
}

@media screen and (max-width:992px) {
    .asu-about .ckeditor-col-container {
        flex-direction: column
    }

    .asu-about .block-inline-blockcontent-image h2 {
        line-height: 2.5rem
    }

    .asu-about .block-inline-blockcontent-image h2 .highlight-gold {
        box-shadow: -.15em 0 0 2px #ffc627, .15rem 0 0 2px #ffc627
    }

    .asu-about-copyright-trademark .block--asu-edu-mainpagecontent,
    .asu-about-privacy .block--asu-edu-mainpagecontent,
    .asu-about-privacy-security .block--asu-edu-mainpagecontent,
    .asu-about-terms-of-use .block--asu-edu-mainpagecontent {
        margin-top: 4rem
    }

    .asu-about-copyright-trademark h1 .highlight-gold,
    .asu-about-privacy h1 .highlight-gold,
    .asu-about-privacy-security h1 .highlight-gold,
    .asu-about-terms-of-use h1 .highlight-gold {
        box-shadow: -.15em 0 0 3px #ffc627, .15em 0 0 3px #ffc627
    }
}

@media screen and (min-width:992px) {

    .asu-about-copyright-trademark h1,
    .asu-about-privacy h1,
    .asu-about-privacy-security h1,
    .asu-about-terms-of-use h1 {
        line-height: 3rem
    }

    .asu-about-copyright-trademark h1 .highlight-gold,
    .asu-about-privacy h1 .highlight-gold,
    .asu-about-privacy-security h1 .highlight-gold,
    .asu-about-terms-of-use h1 .highlight-gold {
        box-shadow: -.15em 0 0 1px #ffc627, .15em 0 0 1px #ffc627;
        font-size: 3rem
    }
}

.asu-about-terms-of-use h3 {
    margin-top: 2.5rem
}

.asu-about-privacy .uds-tabbed-panels {
    max-width: 700px
}

@media screen and (min-width:992px) {
    .asu-about-privacy a {
        background: none
    }
}

@media screen and (max-width:992px) {
    .asu-about-privacy .uds-tabbed-panels {
        margin: 0
    }

    .asu-about-privacy .uds-tabbed-panels .nav-tabs .nav-item {
        font-size: 1.25rem
    }

    .asu-about-privacy .uds-tabbed-panels .scroll-control-prev {
        background: none
    }

    .asu-about-privacy .tab-content {
        padding: 2rem 0
    }
}

@media screen and (min-width:992px) {
    .asu-about-contact .card-icon-top {
        font-size: 2.5rem;
        height: 2.5rem
    }
}

.asu-about-locations-maps .uds-card-arrangement .uds-card-arrangement-content-container {
    display: none
}

@media screen and (max-width:992px) {
    .asu-about-locations-maps .block-inline-blocktext-content .lead {
        font-size: 1.5rem;
        line-height: 1.75rem
    }
}

.asu-about-locations-maps .uds-image-text-block-container {
    margin: 0
}

.asu-academics-colleges-schools-downtown .btn,
.asu-academics-colleges-schools-havasu .btn,
.asu-academics-colleges-schools-polytechnic .btn,
.asu-academics-colleges-schools-tempe .btn,
.asu-academics-colleges-schools-west .btn {
    margin-top: 24px
}

@media screen and (max-width:992px) {

    .asu-academics-colleges-schools-downtown .btn,
    .asu-academics-colleges-schools-havasu .btn,
    .asu-academics-colleges-schools-polytechnic .btn,
    .asu-academics-colleges-schools-tempe .btn,
    .asu-academics-colleges-schools-west .btn {
        font-size: .75rem;
        line-height: 1rem;
        padding: .25rem .75rem
    }
}

.asu-academics-colleges-schools-downtown .btn+.btn,
.asu-academics-colleges-schools-havasu .btn+.btn,
.asu-academics-colleges-schools-polytechnic .btn+.btn,
.asu-academics-colleges-schools-tempe .btn+.btn,
.asu-academics-colleges-schools-west .btn+.btn {
    margin-left: 0
}

@media screen and (min-width:992px) {

    .asu-academics-colleges-schools-downtown .btn+.btn,
    .asu-academics-colleges-schools-havasu .btn+.btn,
    .asu-academics-colleges-schools-polytechnic .btn+.btn,
    .asu-academics-colleges-schools-tempe .btn+.btn,
    .asu-academics-colleges-schools-west .btn+.btn {
        margin-left: 16px
    }
}

.asu-academics .uds-highlighted-heading:first-child h2 {
    margin-bottom: 0
}

.asu-academics .uds-highlighted-heading+.uds-highlighted-heading h2 {
    margin-top: 0
}

@media screen and (max-width:992px) {
    .asu-academics-colleges-schools .block-webspark-module-asu-breadcrumb {
        margin-top: 3rem
    }
}

@media screen and (max-width:992px) and (max-width:768px) {
    .asu-academics-colleges-schools .layout__region--second .block-inline-blocktext-content a {
        margin: 3.125rem .5rem
    }
}

.asu-academics-faculty-excellence .block-inline-blockcard-carousel .btn-maroon {
    color: #fff !important
}

@media screen and (max-width:992px) {
    .asu-academics-faculty-excellence .block-inline-blockcard-carousel {
        margin-bottom: 3rem;
        margin-top: 2rem
    }
}

.asu-academics-faculty-excellence .uds-grid-links a {
    display: unset
}

@media screen and (max-width:992px) {
    .asu-admission .block-inline-blockasu-edu-bottom-image-with-cta {
        padding-top: 2rem
    }
}

@media screen and (max-width:768px) {
    .asu-alumni-notable-and-famous-alumni .ckeditor-col-container.row {
        flex-direction: column
    }
}

@media screen and (min-width:768px) {
    .asu-alumni-notable-and-famous-alumni .ckeditor-col-container.row {
        margin-bottom: 3rem
    }
}

.asu-giving .block-inline-blocknews .feed-header-control .btn {
    display: none
}

@media screen and (max-width:992px) {
    .asu-giving .block-inline-blocknews {
        margin-top: 2rem
    }

    .asu-giving .uds-highlighted-heading {
        padding: 1rem 1rem 0
    }
}

.asu-home #wrapper-footer-columns {
    display: none
}

@media screen and (min-width:992px) {
    .asu-home .layout--three-column-homepage .layout__region--right .block-inline-blockmenu-sidebar #sidebar-left {
        border: none
    }

    .asu-home .layout--three-column-homepage .layout__region--right .block-inline-blockmenu-sidebar #sidebar-left .nav-link-container {
        border: none;
        padding: 0
    }

    .asu-home .layout--three-column-homepage .layout__region--right .block-inline-blockmenu-sidebar #sidebar-left .nav-link-container a {
        padding: .75rem 0
    }

    .asu-home .layout--three-column-homepage .layout__region--right .block-inline-blockmenu-sidebar #sidebar-left .nav-link-container a:hover {
        color: #8c1d40
    }
}

@media screen and (max-width:992px) {
    .asu-home .layout--three-column-homepage .layout__region--right .block-inline-blockmenu-sidebar .sidebar-toggler {
        padding-bottom: 1rem;
        padding-top: 1rem
    }

    .asu-home .layout--three-column-homepage .layout__region--right .block-inline-blockmenu-sidebar .sidebar-toggler>p {
        line-height: 0;
        text-indent: -9999px
    }

    .asu-home .layout--three-column-homepage .layout__region--right .block-inline-blockmenu-sidebar .sidebar-toggler>p:after {
        color: #747474;
        content: "Select one...";
        display: block;
        line-height: normal;
        text-indent: 0
    }
}

.asu-news-events .block-inline-blockcard-carousel .btn {
    color: #fff !important
}

.asu-news-events .block-inline-blockcard-carousel .card:not(.card.card-foldable)>div:first-of-type:not(.card-image-content) {
    padding-top: 1rem
}

@media screen and (max-width:992px) {
    .asu-news-events .block-inline-blocktext-content .formatted-text .align-items-center h2 {
        margin-bottom: 1.5rem;
        margin-top: 3rem
    }

    .asu-news-events .block-inline-blocktext-content .text-lg-right {
        margin-bottom: 3rem
    }

    .asu-research #uds-anchor-menu h4 {
        margin-top: 0
    }

    .asu-research .block-inline-blockgallery {
        margin-bottom: 2rem
    }
}

div.rounded-circle img {
    border-radius: 50% !important
}

.block-inline-blockevents img {
    height: 100%
}

@media screen and (min-width:992px) {
    .block-inline-blockevents .col-xl-3 {
        flex: 0 0 41.67%;
        max-width: 41.67%
    }

    .block-inline-blockevents .col-xl-9 {
        flex: 0 0 58.33%;
        max-width: 58.33%
    }
}

.block--asu-edu-degree-ratings-future .col-12 {
    border: 1px solid #bfbfbf;
    padding: 0
}

.block--asu-edu-degree-ratings-future .layout__region--left,
.block--asu-edu-degree-ratings-future .layout__region--right {
    padding: 32px
}

.block--asu-edu-degree-ratings-future .layout__region--left h3,
.block--asu-edu-degree-ratings-future .layout__region--right h3,
.block-inline-blockasu-edu-news-events h2,
.block-inline-blockasu-edu-news-events h3.card-heading {
    margin-top: 0
}

.block-inline-blockasu-edu-news-events .card-event-icons {
    width: 50%
}

.links-text-block a {
    display: block;
    margin-bottom: 1em
}

@media screen and (min-width:992px) {
    .block-inline-blockasu-edu-content-image-left .uds-image-overlap .content-wrapper {
        padding: 1.5rem
    }
}

.spacing-top-minus-164 {
    margin-top: -164px
}

@media screen and (max-width:992px) {
    .block-inline-blockcontent-image h3 {
        font-size: 2rem;
        margin-top: 0
    }
}

@media screen and (min-width:992px) {
    .block-inline-blockcontent-image .uds-image-overlap .content-wrapper {
        padding: 2.5rem
    }

    .block-inline-blockcontent-image h3 {
        font-size: 2.5rem;
        line-height: calc(100% + .12em);
        margin-top: 0
    }
}

.block-inline-blocktext-with-background .text-content {
    border: 1px solid #d0d0d0;
    padding: 48px
}

.clas-news-react-base[data-view=Cards] .feed-header-section {
    display: none
}

.gray-7-bg.bg-top.bg-percent-50 .feed-header-section .feed-header-title {
    color: #fff
}

.block-inline-blockcard-and-image .uds-card-and-image {
    background-position: 50%, 50%;
    background-size: 0, cover
}

.block-inline-blockcard-and-image .uds-card-and-image .card:not(.card.card-foldable)>div:first-of-type:not(.card-image-content) {
    padding-bottom: 1rem;
    padding-top: 1rem
}

@media screen and (max-width:992px) {
    .block-inline-blocktext-with-background {
        margin-bottom: 3rem
    }

    .block-inline-blocktext-with-background .text-content.bg {
        padding: 2rem
    }

    .block-inline-blockgrid-links {
        margin-bottom: 3rem;
        padding-top: 2rem
    }
}

.block-inline-blocktext-content .collegeunit {
    font-size: 1.25rem
}

@media screen and (max-width:992px) {
    .testimonial-carousel-container {
        padding-top: 3rem
    }

    .testimonial-carousel-container .glide:not(.glide.image-gallery) .glide__bullets {
        display: block;
        text-align: center
    }

    .testimonial-carousel-container .uds-blockquote blockquote {
        margin: 0 1rem
    }

    .testimonial-carousel-container .glide__arrows {
        padding-bottom: 2rem
    }
}

.block-inline-blockgallery .glide.image-gallery figcaption {
    font-size: 1rem;
    padding: 0
}

.block-inline-blockgallery .glide.image-gallery figcaption p {
    margin: 0
}

.block-inline-blockgallery .glide.image-gallery figcaption h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0
}

.block-inline-blockgallery .glide.image-gallery figcaption h3+div {
    height: auto !important
}

.block-inline-blockgallery .glide.image-gallery .image-gallery-action-area[data-has-content=true] .uds-caption-text {
    margin: 2rem;
    padding: 0
}

.block-inline-blockgallery .glide.image-gallery .image-gallery-action-area[data-has-content=true] .uds-caption-text div {
    height: auto !important
}

.block-inline-blockgallery .glide.image-gallery .image-gallery-action-area[data-has-content=true] .uds-caption-text div a {
    color: #8c1d40
}

@media screen and (max-width:992px) {
    .block-inline-blockgallery .glide.image-gallery .image-gallery-action-area[data-has-content=true] .uds-caption-text {
        margin: 1.5rem
    }
}

.block-inline-blockgallery .glide.image-gallery .image-navigator .image-navigator-images .navigation-slider .glide__bullets .bullet-image-container:focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #191919 !important
}

.block-inline-blocknews .clas-news-react-base[data-view=Cards] .card-img-top {
    border-radius: 0
}

.block-inline-blocknews .clas-news-react-base[data-view=Cards] .news-feed .card .card-header {
    padding-left: 2rem;
    padding-right: 2rem
}

@media screen and (max-width:992px) {
    .block-inline-blocknews .clas-news-react-base[data-view=Carousel] {
        padding-top: 3rem
    }
}

.block--asufooter #endorsed-footer #social-media .nav-link:first-child {
    padding-left: 1rem
}

@media screen and (max-width:992px) {
    .block--asufooter #endorsed-footer #social-media .nav-link:first-child {
        padding-left: 0
    }

    .block--asufooter #footer-innovation .footer-innovation-links {
        flex-direction: column-reverse
    }

    .block--asufooter #footer-innovation .footer-innovation-links .img-link {
        order: 1
    }
}

.block-inline-blockaccordion .card-foldable .card-header h4 a .svg-inline--fa {
    align-self: unset
}

.block-inline-blockaccordion .card-foldable>div:last-child {
    padding-bottom: 1rem
}

.block-inline-blockaccordion .card-body {
    padding: 2rem
}

@media screen and (max-width:992px) {
    .block-inline-blockaccordion .card-body {
        padding: 1.5rem
    }

    .block--asu-edu-asubrandheader .navbar-container a {
        display: none
    }
}

@media screen and (max-width:768px) {
    .layout__fixed-width .block-webspark-module-asu-breadcrumb {
        margin-bottom: 1rem;
        margin-top: 2rem
    }
}

@media screen and (min-width:992px) {

    .btn:focus,
    button.glide__bullet {
        border-radius: 400rem
    }
}

@media screen and (max-width:992px) {
    .card .card-button .btn {
        font-size: .875rem;
        line-height: 1.5rem;
        padding: .5rem 1rem
    }

    .news-feed .carousel-wrapper .feed-header-section .feed-header-control {
        max-width: none
    }
}

@media screen and (min-width:992px) {
    .uds-video-hero .btn:focus {
        transform: scale(1.05)
    }

    .uds-video-hero .container .buttons button:focus {
        opacity: 1
    }
}

@media screen and (max-width:992px) {
    .uds-video-hero video.fixed-background {
        top: 100% !important
    }
}

.uds-hero-lg.has-btn-row .btn-row .btn:focus {
    transform: scale(1.05)
}

@media screen and (min-width:992px) {
    .asu-edu-text-distinguished {
        font-size: 1.5rem;
        line-height: 1.75rem
    }
}

.asu-edu-text-distinguished-2 {
    font-size: 1.25rem
}

#asu-edu-components-find-my-degree-program label {
    font-size: 1rem
}

#asu-edu-components-find-my-degree-program input#edit-search {
    height: 3rem
}

#asu-edu-components-find-my-degree-program input#edit-submit {
    padding-left: 2rem !important
}

#asu-edu-components-find-my-degree-program select {
    height: 3rem
}

#asu-edu-components-find-my-degree-program fieldset {
    border: none
}

#asu-edu-components-find-my-degree-program fieldset legend {
    font-weight: 700
}

#asu-edu-components-find-my-degree-program fieldset .card-header {
    padding: 10px 0
}

#asu-edu-components-find-my-degree-program fieldset .card-body {
    padding: 0
}

#asu-edu-components-find-my-degree-program fieldset .form-radios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%
}

#asu-edu-components-find-my-degree-program fieldset .form-radios .form-check {
    display: flex;
    flex-basis: 100%;
    flex: 1;
    flex-direction: row
}

#asu-edu-components-find-my-degree-program fieldset .form-radios .form-check .form-check-label {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 10px
}

.layout-builder-discard-changes {
    margin-bottom: 1rem
}

@media screen and (min-width:992px) {
    .css-10dnl2k .navbar-component .navbar-logo .vert {
        margin-bottom: 1rem
    }
}

#uds-anchor-menu .nav-link {
    text-decoration: none
}

@media screen and (max-width:992px) {
    #uds-anchor-menu nav {
        padding: 0 1rem
    }

    #uds-anchor-menu h4 {
        font-size: 1.25rem
    }

    #uds-anchor-menu .nav-link {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        padding: 1rem 0 1rem 1.25rem
    }

    #uds-anchor-menu #collapseExample {
        border-top: 1px solid #d0d0d0
    }

    #asu-header-nav .nav-item-selected {
        margin-bottom: 0;
        margin-top: 0
    }

    #asu-header-nav .nav-item,
    #asu-header-nav .nav-item-selected.home {
        padding-bottom: .25rem
    }
}

body.asu-emergency-updates .block-inline-blockbanner {
    margin-bottom: 3rem
}

body.asu-emergency-updates .block-inline-blockbanner>div {
    background-color: #cc2f2f;
    color: #fff
}

body.asu-emergency-updates .block-inline-blockbanner #banner-close {
    display: none
}

body.asu-emergency-updates .block-inline-blockbanner h3 {
    font-size: 2rem
}

body.asu-emergency-updates .emergency-update-post--full {
    border-bottom: 1px solid #d0d0d0;
    font-size: 1rem;
    padding: 3rem 0
}

body.asu-emergency-updates .emergency-update-post--full h1 {
    font-size: 1.5rem;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 1rem 0
}

body.asu-emergency-updates .emergency-update-post--full p {
    margin: 0
}

body.asu-emergency-updates .emergency-update-post--full .ec-toggle-link {
    display: block;
    font-size: 1rem;
    margin-top: 2rem
}

@media screen and (min-width:992px) {
    body.asu-emergency-updates .block-inline-blockbanner .banner {
        padding-left: 0;
        padding-right: 0
    }

    body.asu-emergency-updates .block-inline-blocktext-content h2 {
        margin-bottom: 2rem
    }

    body.asu-emergency-updates .emergency-update-post--full .expand-collapse {
        padding-right: 2rem
    }
}

@media screen and (max-width:992px) {
    body.asu-emergency-updates .emergency-update-post--full {
        margin-left: 2rem;
        margin-right: 2rem
    }

    body.asu-emergency-updates .emergency-update-post--full img {
        margin-left: 0
    }

    body.asu-emergency-updates .emergency-update-post--full .ec-toggle-link {
        margin-bottom: 1.5rem
    }

    body.asu-emergency-updates .formatted-text .btn-dark {
        margin-left: 0;
        margin-top: 1rem
    }
}

.asu-edu-table {
    border: 1px solid #e8e8e8;
    overflow-x: scroll
}

.asu-edu-table>table {
    width: 100%
}

.asu-edu-table>table td,
.asu-edu-table>table th {
    box-sizing: border-box;
    font-size: 1rem;
    padding: 1rem;
    text-align: left
}

.asu-edu-table>table tr :nth-child(n+1) {
    box-sizing: border-box;
    max-width: 92px;
    min-width: 92px;
    width: 92px
}

.asu-edu-table>table tr :first-child {
    box-sizing: border-box;
    min-width: 300px
}

.asu-edu-table>table>thead>tr:first-child th {
    background-color: #d0d0d0
}

.asu-edu-table>table tbody tr td,
.asu-edu-table>table tbody tr th {
    background-color: #fff
}

.asu-edu-table>table tbody tr:nth-child(2n) td,
.asu-edu-table>table tbody tr:nth-child(2n) th {
    background-color: #fafafa
}

.asu-edu-table>table tbody tr:focus td,
.asu-edu-table>table tbody tr:focus th,
.asu-edu-table>table tbody tr:hover td,
.asu-edu-table>table tbody tr:hover th {
    background-color: #e8e8e8
}

.asu-edu-table>table tbody tr>th.normal {
    font-weight: 400
}

.asu-edu-table>table tbody tr>th.indent {
    font-weight: 400;
    padding-left: 4rem
}

@media screen and (max-width:576px) {
    .asu-edu-table>table tbody tr>th.indent {
        padding-left: 2rem
    }
}

@media screen and (max-width:768px) {

    .asu-edu-table,
    .asu-edu-table-fixed {
        overflow-x: scroll
    }

    .asu-edu-table-fixed-wrapper {
        overflow-x: hidden
    }

    .asu-edu-table-fixed-wrapper .scroll-control {
        display: block;
        pointer-events: none
    }

    .asu-edu-table-fixed-wrapper .scroll-control.next button,
    .asu-edu-table-fixed-wrapper .scroll-control.previous button {
        visibility: hidden
    }
}

@media screen and (max-width:576px) {
    .asu-edu-table>table tr>:first-child {
        max-width: 128px;
        min-width: 128px;
        width: 128px
    }

    .asu-edu-table-fixed-wrapper .scroll-control.previous {
        left: 128px
    }
}

@media (min-width:1224px) {
    .page main.pt-5 {
        padding-top: 2rem !important
    }
}

@media screen and (max-width:992px) {
    body[class^=asu-] .page main.pt-5 {
        padding-top: 0 !important
    }

    nav[class*=spacing-bottom] {
        padding-bottom: 0
    }

    nav[class*=spacing-top] {
        padding-top: 0
    }
}

.block-inline-blockasu-edu-anim-content-buttons .animated-content-section {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden
}

.block-inline-blockasu-edu-anim-content-buttons .animated-content-section .content-section {
    background-size: cover;
    height: 600px;
    margin: 0 1rem;
    min-width: 300px;
    position: relative;
    transition: all 1s cubic-bezier(.19, 1, .19, 1);
    width: 400px
}

.block-inline-blockasu-edu-anim-content-buttons .animated-content-section .content-section .link-area a {
    display: block
}

@media screen and (max-width:992px) {
    .block-inline-blockasu-edu-anim-content-buttons .animated-content-section {
        flex-direction: column
    }

    .block-inline-blockasu-edu-anim-content-buttons .animated-content-section .long-text {
        display: none
    }

    .block-inline-blockasu-edu-anim-content-buttons .animated-content-section .button-area,
    .block-inline-blockasu-edu-anim-content-buttons .animated-content-section h2 {
        padding-left: 2.5rem;
        padding-right: 2.5rem
    }
}

.block-inline-blockasu-edu-anim-content-buttons .animated-content-section .image-holder:before {
    background-image: linear-gradient(0deg, rgba(25, 25, 25, .75) 0, rgba(25, 25, 25, 0));
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.block-inline-blockasu-edu-anim-content-buttons .animated-content-section .content-holder {
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-end;
    left: unset;
    position: absolute;
    width: 100%
}

@media screen and (min-width:992px) {
    .block-inline-blockasu-edu-anim-content-buttons .animated-content-section .content-section:hover {
        transform: scale(1.04)
    }

    .block-inline-blockasu-edu-anim-content-buttons .animated-content-section .content-section:hover .image-holder {
        transform: scale(1)
    }

    .block-inline-blockasu-edu-anim-content-buttons .animated-content-section .hidden-details {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all 1s cubic-bezier(.19, 1, .19, 1)
    }

    .block-inline-blockasu-edu-anim-content-buttons .animated-content-section .content-section:hover .hidden-details {
        max-height: 300px;
        opacity: 1
    }

    .block-inline-blockasu-edu-anim-content-buttons .animated-content-section .button-area a:hover {
        margin-left: .25rem
    }

    .asu-president .block-inline-blockasu-edu-links-only-cards h2 {
        width: 70%
    }
}

@media screen and (max-width:992px) {
    .asu-about .block-inline-blockasu-edu-links-only-cards {
        margin-bottom: 0
    }
}

@media screen and (min-width:992px) {
    .asu-research .block-inline-blockasu-edu-links-only-cards h2 {
        max-width: 40%
    }

    .asu-research .block-inline-blockasu-edu-links-only-cards h3 {
        font-size: 1rem
    }
}

@media screen and (max-width:992px) {
    .asu-research .block-inline-blockasu-edu-links-only-cards.spacing-top-72 {
        padding-top: 0
    }
}

.block-inline-blockasu-edu-links-only-cards .card {
    background-color: transparent;
    border: none
}

.block-inline-blockasu-edu-links-only-cards h3 {
    margin-top: 0
}

.block-inline-blockasu-edu-links-only-cards a {
    display: block;
    margin-bottom: .5em;
    margin-left: 0
}

@media screen and (max-width:992px) {
    .block-inline-blockasu-edu-links-only-cards {
        margin-bottom: 2rem
    }

    .block-inline-blockasu-edu-links-only-cards.spacing-top-72 {
        margin-top: 3rem;
        padding-top: 2rem
    }

    .block-inline-blockasu-edu-links-only-cards .card,
    .block-inline-blockasu-edu-links-only-cards .row-spaced,
    .block-inline-blockasu-edu-links-only-cards .row-spaced>.col {
        margin-bottom: 0
    }

    .block-inline-blockasu-edu-links-only-cards h2 {
        line-height: 2rem;
        margin-bottom: 0
    }

    .block-inline-blockasu-edu-links-only-cards h3 {
        margin-top: 1rem
    }

    .block-inline-blockasu-edu-for-the-media.spacing-top-72 {
        padding-top: 1.5rem
    }

    .block-inline-blockasu-edu-for-the-media .row-spaced {
        margin-bottom: 1rem
    }
}

@media (max-width:1260px) {
    .block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel {
        padding-bottom: 80px
    }
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .carousel-header-section {
    margin-bottom: 2rem
}

@media (max-width:1260px) {
    .block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .carousel-header-section {
        margin-bottom: 3rem;
        margin-left: 36px;
        width: unset
    }
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .image-carousel-cta .asucms-image {
    position: relative;
    width: 100%
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .image-carousel-cta .asucms-image img {
    height: 100%;
    min-height: 236px;
    width: 100%
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .image-carousel-cta .asucms-image .content-area {
    bottom: 48px;
    left: 32px;
    position: absolute
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .image-carousel-cta .asucms-image .content-area .slide-header {
    background: #f9f9f9;
    box-shadow: -.15em 0 0 #f9f9f9, .15em 0 0 #f9f9f9;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem
}

@media (max-width:1260px) {
    .block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .image-carousel-cta .asucms-image .content-area {
        bottom: 32px;
        left: 32px
    }

    .block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .image-carousel-cta .asucms-image .content-area .slide-header {
        font-size: 1.5rem;
        margin-bottom: 1rem
    }

    .block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .image-carousel-cta .asucms-image .content-area .btn {
        padding: .5rem 1rem
    }
}

@media (max-width:768px) {
    .block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .image-carousel-cta .asucms-image .content-area {
        bottom: 16px;
        left: 16px
    }

    .block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .image-carousel-cta .asucms-image .content-area .slide-header {
        line-height: 1.75rem
    }

    .block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .image-carousel-cta .glide__arrow svg {
        height: 1rem
    }
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide {
    box-sizing: border-box;
    position: relative;
    width: 100%
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide * {
    box-sizing: inherit
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide__track {
    overflow: hidden
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide__slides {
    backface-visibility: hidden;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    overflow: hidden;
    padding: 0;
    position: relative;
    touch-action: pan-Y;
    transform-style: preserve-3d;
    white-space: nowrap;
    width: 100%;
    will-change: transform
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide__slides--dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide__slide {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    flex-shrink: 0;
    height: 100%;
    max-width: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: normal;
    width: 100%
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide__slide a {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide__arrows,
.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide__bullets {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide--rtl {
    direction: rtl
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide__arrow {
    background-color: #e8e8e8;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
    box-shadow: 0 .25em .5em 0 rgba(0, 0, 0, .1);
    color: #191919;
    cursor: pointer;
    display: block;
    height: 48px;
    line-height: 1;
    opacity: 1;
    padding: 9px 12px;
    position: absolute;
    text-shadow: 0 .25em .5em rgba(0, 0, 0, .1);
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .15s ease, border .3s ease-in-out;
    width: 48px;
    z-index: 2
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide__arrow:focus {
    box-shadow: none !important
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide__arrow--left {
    left: calc(50% - 672px)
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide__arrow--right {
    right: calc(50% - 672px)
}

@media (max-width:1260px) {
    .block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide__arrow {
        top: calc(100% + 32px)
    }

    .block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide__arrow--left {
        left: calc(50% - 56px)
    }

    .block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide__arrow--right {
        right: calc(50% - 56px)
    }
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide__arrow--disabled {
    opacity: .33
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide--swipeable {
    cursor: grab;
    cursor: -webkit-grab
}

.block-inline-blockasu-edu-image-carousel-buttons .asu-cms-image-carousel .glide--dragging {
    cursor: grabbing;
    cursor: -webkit-grabbing
}

@media screen and (max-width:992px) {
    .block-inline-blockasu-edu-image-carousel-buttons {
        margin-bottom: 6rem
    }

    .block-inline-blockasu-edu-image-carousel-buttons .slide-header {
        display: table
    }

    .block-inline-blockasu-edu-image-carousel-buttons .carousel-header-section {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0
    }
}

@media screen and (min-width:992px) {
    .block-inline-blockasu-edu-image-carousel-buttons .slide-header {
        display: table
    }

    .block-inline-blockasu-edu-image-carousel-buttons .carousel-header-section {
        padding-left: 0
    }
}

.block-inline-blockasu-edu-content-image-side h2.card-title {
    margin-top: 0
}

.block-inline-blockasu-edu-content-image-side .card-body {
    padding: 0
}

.block-inline-blockasu-edu-content-image-side .card-button {
    padding-left: 0;
    padding-right: 0
}

@media screen and (min-width:992px) {
    .asu-about-contact .block-inline-blockasu-edu-image-and-text .uds-image-text-block-container {
        background-color: transparent;
        border: transparent;
        font-size: 1rem;
        margin-left: 0
    }

    .asu-about-contact .block-inline-blockasu-edu-image-and-text .uds-image-text-block-container .uds-image-text-block-text-container {
        padding: 0 1.5rem 0 .75rem
    }

    .asu-about-contact .block-inline-blockasu-edu-image-and-text .uds-image-text-block-container .uds-image-text-block-text-container h2 {
        margin-bottom: 2rem;
        margin-top: 0
    }

    .asu-about-contact .block-inline-blockasu-edu-image-and-text .uds-image-text-block-container .uds-image-text-block-text-container .ckeditor-col-container {
        margin-top: 2rem
    }

    .asu-about-contact .block-inline-blockasu-edu-image-and-text .uds-image-text-block-container .uds-image-text-block-text-container .first-col {
        padding-left: 0
    }
}

@media screen and (max-width:992px) {
    .asu-about-contact .block-inline-blockasu-edu-image-and-text {
        margin-bottom: 0;
        padding-bottom: 2rem;
        padding-top: 2rem
    }

    .asu-about-contact .block-inline-blockasu-edu-image-and-text .uds-image-text-block-container {
        border: transparent;
        margin: 0
    }

    .asu-about-locations-maps .block-inline-blockimage-and-text-block.row .uds-image-text-block-text-container .btn {
        font-size: .875rem;
        line-height: 1.5rem;
        padding: .5rem 1rem
    }

    .asu-about-locations-maps .block-inline-blockimage-and-text-block.row .col-12 {
        padding-left: 0
    }
}

@media screen and (min-width:992px) {
    .asu-athletics .block-inline-blockasu-edu-image-and-text .formatted-text {
        font-size: 1.25rem;
        line-height: 2rem
    }
}

@media screen and (min-width:768px) {
    .block-inline-blockimage-and-text-block .col-md-6 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .block-inline-blockimage-and-text-block h3 {
        margin-bottom: 1.5rem
    }

    .block-inline-blockimage-and-text-block h4 {
        font-size: 1rem;
        line-height: 1.5rem
    }
}

@media screen and (max-width:768px) {
    .block-inline-blockimage-and-text-block {
        margin-bottom: 1rem
    }
}

.block-inline-blockasu-edu-image-and-text {
    font-size: 1rem
}

.block-inline-blockasu-edu-image-and-text .uds-image-text-block-container {
    background-color: #fafafa
}

.block-inline-blockasu-edu-image-and-text img {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: auto
}

.block-inline-blockasu-edu-image-and-text .uds-image-text-block-text-container {
    padding-left: 48px;
    padding-right: 48px
}

.block-inline-blockasu-edu-image-and-text .col {
    padding-left: 0;
    padding-right: 0
}

@media screen and (max-width:992px) {
    .block-inline-blockasu-edu-image-and-text .uds-image-text-block-text-container {
        padding-left: 24px;
        padding-right: 24px
    }

    .block-inline-blockasu-edu-image-and-text .row {
        margin-right: 0
    }
}

@media screen and (min-width:992px) {
    .block-inline-blockimage-and-text-block {
        margin-bottom: 40px
    }

    .block-inline-blockimage-and-text-block .img-fluid {
        width: 100%
    }

    .block-inline-blockimage-and-text-block .uds-image-text-block-text-container {
        padding: 48px
    }

    .block-inline-blockimage-and-text-block h3 {
        font-size: 40px
    }
}

@media screen and (max-width:992px) {
    .asu-admission .block-inline-blockasu-edu-content-image-overlap {
        margin-top: 0
    }
}

.block-inline-blockasu-edu-content-image-overlap .uds-story-hero {
    display: grid;
    gap: 0 0;
    grid-template-columns: 1rem 1fr 1rem;
    grid-template-rows: 11.5rem 4.5rem auto;
    margin: 0 auto;
    max-width: 1920px
}

.block-inline-blockasu-edu-content-image-overlap .uds-story-hero .hero {
    grid-column: 1/span 3;
    grid-row: 1/span 2;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.block-inline-blockasu-edu-content-image-overlap .uds-story-hero .content {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 1px;
    grid-column: 2/span 1;
    grid-row: inherit;
    margin-top: -90px;
    padding: 0 1rem
}

.block-inline-blockasu-edu-content-image-overlap .uds-story-hero .content p.meta {
    margin: .25rem 0;
    padding: .75rem 0
}

@media (min-width:992px) {
    .block-inline-blockasu-edu-content-image-overlap .uds-story-hero {
        grid-template-columns: 1.5rem 1fr 1.5rem;
        grid-template-rows: 24rem 8rem 1fr
    }

    .block-inline-blockasu-edu-content-image-overlap .uds-story-hero.uds-story-hero-lg {
        grid-template-rows: 34.75rem 8rem 1fr
    }

    .block-inline-blockasu-edu-content-image-overlap .uds-story-hero .content {
        margin-top: -200px;
        padding: 32px calc(16.6% + 12px)
    }

    .block-inline-blockasu-edu-content-image-overlap .uds-story-hero .content .breadcrumb,
    .block-inline-blockasu-edu-content-image-overlap .uds-story-hero .content p.meta {
        margin: 1.25rem 0 2.25rem
    }

    .block-inline-blockasu-edu-content-image-overlap .uds-story-hero .card-title {
        margin-bottom: 1.25rem
    }
}

@media (min-width:1260px) {
    .block-inline-blockasu-edu-content-image-overlap .uds-story-hero {
        grid-template-columns: 1fr 974px 1fr
    }
}

@media screen and (max-width:992px) {
    .block-inline-blockasu-edu-content-image-overlap {
        margin-bottom: 2rem;
        margin-top: 2rem
    }

    .block-inline-blockasu-edu-content-image-overlap .uds-story-hero {
        grid-template-columns: 2rem 1fr 2rem
    }

    .block-inline-blockasu-edu-content-image-overlap .uds-story-hero h2 {
        line-height: 2.25rem
    }

    .block-inline-blockasu-edu-content-image-overlap .uds-story-hero .btn-maroon+a {
        display: block;
        font-weight: 700;
        margin-top: 1rem
    }
}

.asu-edu-future-students div.formatted-text {
    margin-bottom: 24px
}

.asu-edu-future-students a {
    color: #000;
    display: block;
    margin-bottom: 24px;
    text-decoration: none
}

.asu-edu-future-students a:hover {
    text-decoration: underline
}

.asu-edu-future-students__field-paragraph button.btn-gold {
    display: none
}

@media screen and (min-width:992px) {
    .asu-academics .block-inline-blockasu-edu-section-with-cta-buttons.asu-edu-static .uds-card-and-image {
        padding: 3rem 6rem
    }

    .asu-academics .block-inline-blockasu-edu-section-with-cta-buttons.asu-edu-static .uds-card-and-image p {
        line-height: 1.25rem;
        margin-bottom: 0
    }

    .asu-giving .block-inline-blockasu-edu-section-with-cta-buttons.asu-edu-static .uds-card-and-image {
        padding: 3rem 6rem
    }

    .asu-giving .block-inline-blockasu-edu-section-with-cta-buttons.asu-edu-static .uds-card-and-image h4 {
        margin-top: 0
    }
}

.asu-home .block-inline-blockasu-edu-section-with-cta-buttons a.btn:nth-child(3) {
    margin-top: 0
}

.block-inline-blockasu-edu-overlay-parallax,
.block-inline-blockasu-edu-section-with-cta-buttons {
    position: relative
}

.block-inline-blockasu-edu-overlay-parallax .btn+.btn,
.block-inline-blockasu-edu-section-with-cta-buttons .btn+.btn {
    margin-left: 0
}

.block-inline-blockasu-edu-overlay-parallax.asu-edu-alignment-right .card-content,
.block-inline-blockasu-edu-section-with-cta-buttons.asu-edu-alignment-right .card-content {
    display: flex;
    justify-content: flex-end
}

.block-inline-blockasu-edu-overlay-parallax picture,
.block-inline-blockasu-edu-section-with-cta-buttons picture {
    height: 100%;
    position: absolute;
    width: 100%
}

.block-inline-blockasu-edu-overlay-parallax picture img,
.block-inline-blockasu-edu-section-with-cta-buttons picture img {
    width: 100%
}

.block-inline-blockasu-edu-overlay-parallax a.btn,
.block-inline-blockasu-edu-section-with-cta-buttons a.btn {
    margin-right: 16px
}

.block-inline-blockasu-edu-overlay-parallax a.btn:nth-child(3),
.block-inline-blockasu-edu-section-with-cta-buttons a.btn:nth-child(3) {
    margin-top: 16px
}

.block-inline-blockasu-edu-section-with-cta-buttons.asu-edu-static .card-title {
    margin-bottom: 1rem
}

@media screen and (min-width:992px) {
    .block-inline-blockasu-edu-section-with-cta-buttons.asu-edu-static .uds-card-and-image {
        background-position: 50%;
        margin: 0;
        padding: 6rem
    }
}

@media screen and (max-width:992px) {
    .block-inline-blockasu-edu-section-with-cta-buttons.asu-edu-static .uds-card-and-image {
        justify-content: flex-start
    }

    .block-inline-blockasu-edu-overlay-parallax .card-content .card-horizontal .card-content-wrapper {
        padding-top: 0 !important
    }

    .block-inline-blockasu-edu-overlay-parallax .card-content .card-title {
        line-height: 2rem
    }
}

.parallax-container {
    height: unset;
    overflow: hidden;
    position: relative
}

.parallax-container .card-content-wrapper .card-header {
    padding-bottom: 1rem
}

@media screen and (min-width:992px) {
    .parallax-container .card-content-wrapper {
        padding: 3rem
    }

    .parallax-container .card-content-wrapper .card-body,
    .parallax-container .card-content-wrapper .card-header {
        padding: 0
    }

    .parallax-container .card-content-wrapper .card-button {
        padding: 0 0 3rem
    }

    .parallax-container .card-content-wrapper p {
        margin: 2rem 0 1.5rem
    }
}

.parallax-container img {
    position: absolute
}

.parallax-container .parallax-container-content {
    background-color: #fff;
    padding: 3rem;
    position: absolute;
    top: 150px;
    width: 600px
}

.parallax-container .parallax-container-content h2 {
    margin: 0
}

.parallax-container .parallax-container-content p {
    margin: 2rem 0 1.5rem
}

@media screen and (max-width:768px) {
    .parallax-container .parallax-container-content {
        padding: 1rem;
        width: 450px
    }

    .parallax-container .parallax-container-content p {
        margin: 1rem 0 .5rem
    }
}

.parallax-container .parallax-container-content .btn-maroon {
    margin-right: 1rem
}

.block-inline-blockasu-edu-overlay-parallax {
    background-position: 50%;
    background-size: cover
}

@media screen and (max-width:992px) {
    .block-inline-blockasu-edu-overlay-parallax {
        background-position: 25% top;
        background-repeat: no-repeat;
        background-size: 350%;
        height: auto
    }

    .block-inline-blockasu-edu-overlay-parallax .pt-16 {
        padding-top: 22rem !important
    }
}

.block-inline-blockasu-edu-overlay-parallax .parallax-container-content {
    height: 500px;
    right: 75px
}

@media screen and (max-width:768px) {
    .block-inline-blockasu-edu-overlay-parallax .parallax-container-content {
        height: 450px;
        right: 25px
    }
}

.block-inline-blockasu-edu-animated-quote .highlight-gold {
    background-color: transparent;
    background-image: linear-gradient(270deg, transparent 50%, #ffc627 0);
    background-position: 100%;
    background-size: 200% 200%;
    box-shadow: none;
    transition: background-position .8s;
    transition-delay: .2s
}

.block-inline-blockasu-edu-animated-quote .highlight-gold.delayed {
    transition-delay: .4s
}

.block-inline-blockasu-edu-animated-quote .animate-bg-in-scroll {
    background-position: 0
}

.block-inline-blockasu-edu-animated-quote .formatted-text p {
    letter-spacing: revert;
    max-width: none
}

.block-inline-blockasu-edu-animated-quote .container {
    max-width: 1070px !important
}

.block-inline-blockasu-edu-animated-quote .container h2.h4 {
    color: #747474
}

.block-inline-blockasu-edu-animated-quote .source a {
    color: inherit
}

@media screen and (max-width:992px) {
    .block-inline-blockasu-edu-animated-quote .container {
        padding-top: 4rem
    }
}

.block-inline-blockasu-edu-stories-of-excellence .stories-of-excellence .container {
    max-width: 1200px
}

.block-inline-blockasu-edu-stories-of-excellence .stories-of-excellence .excellence-card {
    height: 412px;
    margin-bottom: 3rem;
    position: relative
}

.block-inline-blockasu-edu-stories-of-excellence .stories-of-excellence .excellence-card a.link-wrap {
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 100%;
    z-index: 10
}

.block-inline-blockasu-edu-stories-of-excellence .stories-of-excellence .excellence-card h3 {
    margin-top: 0
}

.block-inline-blockasu-edu-stories-of-excellence .stories-of-excellence .image-holder {
    height: 240px;
    overflow: hidden;
    width: 100%
}

.block-inline-blockasu-edu-stories-of-excellence .stories-of-excellence .image-holder img {
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: .5s cubic-bezier(.19, 1, .19, 1)
}

.block-inline-blockasu-edu-stories-of-excellence .stories-of-excellence .content-holder {
    background-color: #fff;
    position: absolute;
    top: 208px;
    transition: .5s cubic-bezier(.19, 1, .19, 1)
}

.block-inline-blockasu-edu-stories-of-excellence .stories-of-excellence .content-holder .card-body {
    padding-left: 0;
    padding-right: 0
}

.block-inline-blockasu-edu-stories-of-excellence .stories-of-excellence .content-holder .card-button {
    display: none
}

.block-inline-blockasu-edu-stories-of-excellence .stories-of-excellence .excellence-card:hover .content-holder {
    transform: translateY(-32px)
}

.block-inline-blockasu-edu-stories-of-excellence .stories-of-excellence .excellence-card:hover .image-holder img {
    transform: scale(1.05)
}

@media screen and (max-width:992px) {
    .block-inline-blockasu-edu-stories-of-excellence .stories-of-excellence h2 {
        margin-top: 4rem
    }

    .block-inline-blockasu-edu-stories-of-excellence .stories-of-excellence .excellence-card {
        height: 350px
    }

    .block-inline-blockasu-edu-stories-of-excellence .stories-of-excellence .content-holder {
        width: calc(100% - 2rem)
    }

    .block-inline-blockasu-edu-stories-of-excellence .stories-of-excellence .content-holder .card-body {
        display: none
    }

    .block-inline-blockasu-edu-stories-of-excellence .stories-of-excellence .content-holder .card-button {
        display: block;
        padding: 0
    }

    .block-inline-blockasu-edu-stories-of-excellence .stories-of-excellence .content-holder .card-button .btn {
        font-size: .875rem;
        line-height: 1.5rem;
        padding: .5rem 1rem
    }

    .block-inline-blockasu-edu-stories-of-excellence .stories-of-excellence a.link-wrap {
        display: none
    }
}

.block-inline-blockasu-edu-sidebar-navigation nav {
    background-color: #fff
}

.block-inline-blockasu-edu-sidebar-navigation nav a {
    padding: 1.5rem 1rem !important
}

.block-inline-blockasu-edu-sidebar-navigation nav a+a {
    border-top: 1px solid #d0d0d0
}

@media screen and (max-width:992px) {
    .block-inline-blockasu-edu-sidebar-navigation nav {
        border-top: 1px solid #d0d0d0
    }
}

.block-inline-blockasu-edu-sidebar-navigation a {
    margin-left: 0;
    text-decoration: none
}

@media screen and (max-width:992px) {
    .block-inline-blockasu-edu-sidebar-navigation {
        margin-bottom: 2rem
    }
}

nav.accordion .card {
    margin-bottom: 0
}

.block-inline-blockmenu-sidebar a {
    text-decoration: none
}

@media screen and (max-width:768px) {
    .block-inline-blockmenu-sidebar {
        margin-bottom: 3rem
    }

    .block-inline-blockmenu-sidebar .sidebar,
    .block-inline-blockmenu-sidebar .sidebar-toggler {
        margin-left: 2rem;
        margin-right: 2rem
    }

    .block-inline-blockmenu-sidebar .sidebar-toggler[aria-expanded=false] svg {
        transform: none
    }

    .block-inline-blockmenu-sidebar .sidebar-toggler[aria-expanded=true] svg {
        transform: rotate(-180deg)
    }

    .block-inline-blockmenu-sidebar h3 {
        margin-left: 2rem
    }
}