<div class="vid-outer">
<div id="ypt_wrapper">
<div class="video">
{% for item in items %}
<div data-pl="{{ item.content }}" id="player">&nbsp;</div>
{% endfor %}
</div>
<ul id="ypt_thumbs">
</ul>
</div>
</div>
