<form class="views-exposed-form uds-form form needs-validation">
  <div class="js-form-item form-item js-form-type-textfield form-item-search js-form-item-search form-no-label form-group">
    <label class="form-label visually-hidden" for="index-search">Search</label>
    <input type="text"
      id="index-search"
      name="search"
      value=""
      size="30"
      maxlength="128"
      placeholder="{{ placeholder|default('Search for a keyword, description, or more.') }}"
      class="form-textfield form-control">
  </div>
</form>
