{% extends "@analytics/page.html.twig" %}

{% block analytics_after_content %}
  <div class="container container-page-404">
    <h2><span class="highlight-gold">Did your saved page or bookmark break?</span></h2>
    <p>Although we tried our best, not all pages were able to retain the same URLs.</p>
    <a href="/support-2" class="btn btn-primary">Report broken bookmarks</a>
  </div>
{% endblock %}
