{#
/**
 * @file
 * Default theme implementation to display a single views grouping.
 *
 * Available variables:
 * - view: The view object.
 * - grouping: The grouping instruction.
 * - grouping_level: A number indicating the hierarchical level of the grouping.
 * - title: The group heading.
 * - content: The content to be grouped.
 * - rows: The rows returned from the view.
 *
 * @see template_preprocess_views_view_grouping()
 *
 * @ingroup themeable
 */
#}
<div class="table-responsive">
    <div class="table-row">
        <div class="title-{{  grouping_level }}">{{ title }}</div>
        <div class="content-{{  grouping_level }}">{{ content }}</div>
    </div>
</div>
