// @import '../../../../webspark/renovation/src/sass/renovation.style.scss';

.asu-edu-table {
  border: 1px solid $uds-color-base-gray-2;
  overflow-x: scroll;

  & > table {
    width: 100%;

    th,
    td {
      box-sizing: border-box;
      font-size: 1rem;
      text-align: left;
      padding: 1rem;
    }

    tr {
      :nth-child(n + 1) {
        box-sizing: border-box;
        max-width: 92px;
        width: 92px;
        min-width: 92px;
      }

      :first-child {
        box-sizing: border-box;
        min-width: 300px;
      }
    }

    > thead {
      > tr {
        &:first-child th {
          background-color: $uds-color-base-gray-3;
        }
      }
    }

    tbody {
      tr {
        th,
        td {
          background-color: white;
        }
        &:nth-child(2n) {
          th,
          td {
            background-color: $uds-color-base-gray-1
          }
        }

        &:hover,
        &:focus {
          th,
          td {
            background-color: $uds-color-base-gray-2
          }
        }

        > th {
          &.normal {
            font-weight: normal;
          }

          &.indent {
            font-weight: normal;
            padding-left: 4rem;

            @media screen and (max-width: $uds-breakpoint-sm) {
              padding-left: 2rem;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: $uds-breakpoint-md) {
  .asu-edu-table {
    overflow-x: scroll;
  }

  .asu-edu-table-fixed {
    overflow-x: scroll;
    &-wrapper {
      overflow-x: hidden;
      .scroll-control {
        pointer-events: none;
        display: block;

        &.previous button,
        &.next button {
          visibility: hidden;
        }
      }
    }
  }
}

@media screen and (max-width: $uds-breakpoint-sm) {
  .asu-edu-table {
    & > table {
      tr > *:first-child {
        width: 128px;
        min-width: 128px;
        max-width: 128px;
      }
    }
  }

  .asu-edu-table-fixed {
    &-wrapper {
      .scroll-control {
        &.previous {
          left: 128px;
        }
      }
    }
  }
}
