$bg: transparent #fff 0% 0% repeat padding-box;
$bg-opacity: 1;

$morse-code-white: url('../../../../composer/webspark-theme-renovation/img/background-patterns/MorseCodeWhite.png');
$morse-code-black: url('../../../../composer/webspark-theme-renovation/img/background-patterns/MorseCodeBlack.png');
$network-black: url('../../../../composer/webspark-theme-renovation/img/background-patterns/NetworkBlack.png');
$network-white: url('../../../../composer/webspark-theme-renovation/img/background-patterns/NetworkWhite.png');
$topo-black: url('../../../../composer/webspark-theme-renovation/img/background-patterns/TopoPatternBlack.png');
$topo-white: url('../../../../composer/webspark-theme-renovation/img/background-patterns/TopoPatternWhite.png');
