<div class="image-carousel">
  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        {% for card in cards %}
          <li class="glide__slide">
            <div class="asucms-image">
              <img src="{{ card.media }}">
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button
        class="glide__arrow glide__arrow--left"
        data-glide-dir="<"
        data-ga-rankings-carousel-event="select"
        data-ga-rankings-carousel-type="carousel"
        data-ga-rankings-carousel="left chevron"
        data-ga-rankings-carousel-action = "click"
        data-ga-rankings-carousel-name = "onclick"
        data-ga-rankings-carousel-region = "main content"
        data-ga-rankings-carousel-section = "rankings"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="chevron-left"
          className="svg-inline--fa fa-chevron-left fa-w-10"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 100"
        >
          <path fill="currentColor" d="M 50,0 L 60,10 L 20,50 L 60,90 L 50,100 L 0,50 Z" class="arrow" transform="translate(15,0)"></path>
        </svg>
      </button>
      <button
        class="glide__arrow glide__arrow--right"
        data-glide-dir=">"
        data-ga-rankings-carousel-event="select"
        data-ga-rankings-carousel-type="carousel"
        data-ga-rankings-carousel="right chevron"
        data-ga-rankings-carousel-action = "click"
        data-ga-rankings-carousel-name = "onclick"
        data-ga-rankings-carousel-region = "main content"
        data-ga-rankings-carousel-section = "rankings"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="chevron-right"
          className="svg-inline--fa fa-chevron-right fa-w-10"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 100"
        >
          <path fill="currentColor" d="M 50,0 L 60,10 L 20,50 L 60,90 L 50,100 L 0,50 Z" class="arrow" transform="translate(85,100) rotate(180)"></path>
        </svg>
      </button>
    </div>
    <div class="link-section">
      {# {{ links }} #}
      <a
        href="https://www.asu.edu/rankings"
        data-ga-rankings-carousel-event="link"
        data-ga-rankings-carousel-type="internal link"
        data-ga-rankings-carousel="view all rankings"
        data-ga-rankings-carousel-action = "click"
        data-ga-rankings-carousel-name = "onclick"
        data-ga-rankings-carousel-region = "main content"
        data-ga-rankings-carousel-section = "rankings"
      >
        {{ 'View all rankings'|t }}
      </a>
    </div>
  </div>

  {{ attach_library('asu_edu_tucson_components/glide.glidejs') }}

</div>



