
/*------------------------------------------------------------------
1. Basic Card Utilities
--------------------------------------------------------------------*/



/*------------------------------------------------------------------
10. Custom CHS Cards
--------------------------------------------------------------------*/

.uds-image-text-block-container {
    border: none;
}

.chs-custom-text-image-set {
 .uds-card-and-image {
    height: 800px;
    .uds-card-and-image-container {
        .card {
            max-height: calc(800px - 4rem);
            .card-body {
                -webkit-box-orient: unset;
                padding-bottom: 16px;
            }
        }
    }
 }
}

.uds-card-arrangement {
    width: 100%;  
}

a.c-card {
    height: 100%;
}

.bg[class*="black"] {
    .uds-card-arrangement {
        .card {
            background-color: transparent;
            color: #ffffff;
            border: 1px solid rgba(255, 255, 255, 0.25);

            .card-icon-top {
                color: #ffc627;
            }

            .card-header {
                background-color: transparent;
            }
        }
    }
}

.glide.slider-start::after,
.glide.slider-mid::after,
.glide.slider-end::after {
    background: none !important;
}

.asu-card-carousel-container {
    .card-img-top {
    }
}