
/*------------------------------------------------------------------
 Mailchimp - Custom
--------------------------------------------------------------------*/

#mc-embedded-subscribe {
  margin: 0;
}

#mc_embed_signup {
  .mc-field-group {
    width: 100%;
  }
  input {
    border-radius: 0;
    &.subscribe {
      border: 1px solid transparent;
      border-radius: 400rem;
      font-size: 1rem;
    }
  }
  .mc-group-name {
    .mc-field-group {
      padding: 0 0 3% 0;
      &:first-child {
        padding-right: 1rem;
      }
      &:last-child {
        padding-left: 1rem;
      }
    }
  }
}

/*------------------------------------------------------------------
 Webform - Custom
--------------------------------------------------------------------*/

.webform-button--submit {
  &.btn {
    &.btn-primary {
      color: #212529;
      background: #ffc627;
  }
  }
  &.btn-maroon, 
  &.btn-maroon {
      color: #212529;
      border-color: #ffc627;
      &:hover {
      color: #212529;
      background-color: #ffc627;
      border-color: #ffc627;
  }
  }
}
