.partnerblock[class*="col-"]{
    background-color: #f2f2f2;
    display: block;
    background-clip: content-box;
    margin-bottom: 30px;
  }
  
  .partnerblock [class*="views-field"]{
    margin: 10px;
  }
  