<nav class="uds-tabbed-panels uds-content-align" aria-label="tabbed panels">

	<div class="nav nav-tabs" id="nav-tab" role="tablist" data-scroll-position="0">
		<a class="nav-item nav-link active" id="nav-asu-tab" data-toggle="tab" href="#nav-asu" role="tab" aria-controls="nav-asu" aria-selected="true" data-ga-event="link" data-ga-action="click" data-ga-name="onclick" data-ga-type="internal link" data-ga-section="" data-ga-region="main content" data-ga-text="ASU">
			Subscribe to ASU in Mexico
		</a>
		<a class="nav-item nav-link" id="nav-convergence-tab" data-toggle="tab" href="#nav-convergence" role="tab" aria-controls="nav-convergence" aria-selected="false" data-ga-event="link" data-ga-action="click" data-ga-name="onclick" data-ga-type="internal link" data-ga-section="" data-ga-region="main content" data-ga-text="CONVERGENCE">
			Subscribe to Convergence Lab CDMX
		</a>
	</div>
	<a class="scroll-control-prev" href="#carouselExampleControls" role="button" data-scroll="prev" tabindex="-1" data-ga-event="select" data-ga-action="click" data-ga-name="onclick" data-ga-type="carousel" data-ga-section="" data-ga-region="main content" data-ga-text="left chevron" style="display: none;">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="scroll-control-next" href="#carouselExampleControls" role="button" data-scroll="next" tabindex="-1" data-ga-event="select" data-ga-action="click" data-ga-name="onclick" data-ga-type="carousel" data-ga-section="" data-ga-region="main content" data-ga-text="right chevron" style="display: none;">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</nav>

<div class="tab-content" id="nav-tabContent">
	<div class="tab-pane fade show active" id="nav-asu" role="tabpanel" aria-labelledby="nav-asu-tab">

		
		<div id="sf_embed_signup">
			<!-- Begin Salesforce DEManager Form - ASU -->
			<form action="https://cl.s7.exct.net/DEManager.aspx" name="subscribeForm" method="post" class="uds-form w-75">
				<input type="hidden" name="_returnXML" value="0" />
				<input type="hidden" name="_clientID" value="518001940" />
				<input type="hidden" name="_deExternalKey" 
				value="18F4C963-18B2-45BC-927A-3DCD220061A0" />
				<input type="hidden" name="_action" value="add/update" />
				<input type="hidden" name="_successURL" value="{{ url('<front>') }}newsletters/newsletter-signup/confirmation" />
				<input type="hidden" name="_errorURL" value="{{ url('<front>') }}newsletters/newsletter-signup" />
				<div class="form-group">
					<h2 class="mb-5">¡Regístrate!</h2>
				</div>
				<div class="form-group mc-field-group">
					<label for="FirstNameInput" class="js-form-required"><span title="Required" class="fa fa-icon fa-circle uds-field-required"></span>First Name (Nombre)</label>
					<input class="form-control" id="FirstNameInput" name="FirstName">
				</div>
				<div class="form-group mc-field-group">
					<label for="LastNameInput" class="js-form-required"><span title="Required" class="fa fa-icon fa-circle uds-field-required"></span>Last Name (Apellido)</label>
					<input class="form-control" id="LastNameInput" name="LastName">
				</div>
				<div class="form-group mc-field-group">
					<label for="EmailAddressInput" class="js-form-required"><span title="Required" class="fa fa-icon fa-circle uds-field-required"></span>Email Address (Correo Electrónico)</label>
					<input class="form-control" id="EmailAddressInput" name="EmailAddress">
				</div>

				<div class="form-group col-md-6">
					<button type="submit" class="form-submit btn btn-gold mt-5">Subscribe</button>
				</div>
			</form>
		</div>

	</div>
	<div
		class="tab-pane fade" id="nav-convergence" role="tabpanel" aria-labelledby="nav-convergence-tab">
		<!-- Begin Mailchimp Signup Form - Convergence Lab -->
		<div id="mc_embed_shell">
			<div id="mc_embed_signup">

				<form action="https://asu.us15.list-manage.com/subscribe/post?u=78954754afbcb496802fa0474&amp;id=e2754027ac&amp;f_id=00b692e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate w-75 uds-form" target="_blank">
					<div class="form-group">
						<h2 class="mb-5">¡Regístrate!</h2>

						<div class="mc-field-group">
							<label for="mce-FNAME">
								<span title="Required" class="fa fa-icon fa-circle uds-field-required"></span>
								First Name (Nombre)
							</label>
							<input type="text" name="FNAME" class=" text required form-control" id="mce-FNAME" value="">
						</div>
						<div class="mc-field-group">
							<label for="mce-LNAME">
								<span title="Required" class="fa fa-icon fa-circle uds-field-required"></span>
								Last Name (Apellido)
							</label>
							<input type="text" name="LNAME" class=" text required form-control" id="mce-LNAME" value="">
						</div>
						<div class="mc-field-group">
							<label for="mce-MMERGE5">Job Title (Ocupación)
							</label>
							<input type="text" name="MMERGE5" class=" text form-control" id="mce-MMERGE5" value="">
						</div>
						<div class="mc-field-group">
							<label for="mce-MMERGE4">Organization (Organización)
							</label>
							<input type="text" name="MMERGE4" class=" text form-control" id="mce-MMERGE4" value="">
						</div>
						<div class="mc-field-group">
							<label for="mce-EMAIL">
								<span title="Required" class="fa fa-icon fa-circle uds-field-required"></span>
								Email Address (Correo Electrónico)
							</label>
							<input type="email" name="EMAIL" class="required email form-control" id="mce-EMAIL" value="" required="">
						</div>
						<div hidden="">
							<input type="hidden" name="tags" value="2312209">
						</div>
						<div class="clear">
							<div class="response" style="display: none;"></div>
							<div class="response" style="display: none;"></div>
						</div>
						<div aria-hidden="true" style="position: absolute; left: -5000px;">
							<input type="text" name="b_78954754afbcb496802fa0474_e2754027ac" tabindex="-1" value="">
						</div>
						<div class="clear my-5 mx-1">
							<input type="submit" name="subscribe" class="form-submit btn btn-gold" value="Subscribe">
						</div>
					</div>
				</form>
			</div>
			<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
			<script type="text/javascript">
				(function ($) {
window.fnames = new Array();
window.ftypes = new Array();
fnames[1] = 'FNAME';
ftypes[1] = 'text';
fnames[2] = 'LNAME';
ftypes[2] = 'text';
fnames[5] = 'MMERGE5';
ftypes[5] = 'text';
fnames[4] = 'MMERGE4';
ftypes[4] = 'text';
fnames[0] = 'EMAIL';
ftypes[0] = 'email';
fnames[3] = 'MMERGE3';
ftypes[3] = 'text';
fnames[6] = 'MMERGE6';
ftypes[6] = 'text';
fnames[7] = 'MMERGE7';
ftypes[7] = 'text';
fnames[8] = 'MMERGE8';
ftypes[8] = 'text';
fnames[9] = 'MMERGE9';
ftypes[9] = 'text';
fnames[10] = 'MMERGE10';
ftypes[10] = 'text';
fnames[11] = 'MMERGE11';
ftypes[11] = 'text';
}(jQuery));
var $mcj = jQuery.noConflict(true);
			</script>
		</div>
	</div>
</div>